<div class="menu-container d-flex px-2 align-items-center">
  <span class="my-text-white">Nhóm node</span>
  <button class="ms-auto my-btn-primary" (click)="add()">
    <i class="bi bi-plus"></i>Thêm
  </button>
</div>
<div class="flex-grow-1 flex-basis-0 overflow-y-auto">
  <table class="w-100">
    <colgroup>
      <col width="30" />
      <col width="400" />
      <col width="150" />
      <col width="auto" />
    </colgroup>
    <thead class="sticky-top">
      <th></th>
      <th>Tên nhóm node<i class="ms-2 bi bi-sort-alpha-down"></i></th>
      <th>Số lượng node<i class="ms-2 bi bi-sort-alpha-down"></i></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; trackBy: trackById">
        <td></td>
        <td>
          <ng-container *ngIf="!item.editable; else editableForm">
            {{ item.name }}
          </ng-container>
          <ng-template #editableForm>
            <div class="d-flex align-items-center px-1">
              <input
                class="w-100 border-0 border-light border-bottom"
                [(ngModel)]="item.name"
              />
              <button
                class="btn btn-secondary px-2 mx-1 text-white"
                (click)="item.editable = false"
              >
                Hủy
              </button>
              <button
                class="btn btn-primary px-2 text-white"
                (click)="update(item)"
              >
                Lưu
              </button>
            </div>
          </ng-template>
        </td>
        <td>{{ item.nodeCount }}</td>
        <td>
          <div
            ngbDropdown
            container="body"
            class="d-flex align-items-center justify-content-end pe-2"
          >
            <a class="cursor-pointer hide-caret" ngbDropdownToggle
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="table-row-popup-menu" ngbDropdownMenu>
              <li (click)="item.editable = true">
                <i class="bi bi-pencil-square"></i> Đặt lại tên
              </li>
              <li (click)="remove(item)">
                <i class="bi bi-trash"></i> Xóa nhóm
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #addRowModel let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Thêm nhóm nút</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input class="form-input" />
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
