<app-form-dialog
  [title]="'Quản lý camera thành viên nhóm camera - ' + name"
  (cancel)="cancel()"
  (submit)="submit()"
>
  <div class="d-flex" style="height: 400px">
    <div
      class="flex-grow-1 d-flex flex-column p-3 gap-2"
      style="background: #cfcfcfff; flex-basis: 40%"
    >
      <div class="px-2">
        <input
          autocomplete="off"
          placeholder="Tìm kiếm camera"
          (keyup)="search($event)"
        />
      </div>
      <div class="flex-grow-1 overflow-y-auto">
        <app-tree-view
          [data]="treeViewData"
          [(ngModel)]="devicesToAdd"
          [filter]="searchText"
          [itemTemplate]="treeItemTemplate"
          [config]="{
            activeBackgroundColor: '#fccece',
            textColor: '#000000',
            activeTextColor: '#000000',
            backgroundColor: '#cfcfcfff'
          }"
          [isSelectableItem]="checkIfDeviceNode"
        ></app-tree-view>
        <ng-template #treeItemTemplate let-item="item">
          <app-svg-icon
            class="mx-1"
            [icon]="item.icon"
            color="green"
          ></app-svg-icon>
          <span class="user-select-none" style="color: black">{{
            item.label
          }}</span>
        </ng-template>
      </div>
    </div>
    <div
      class="d-flex flex-column justify-content-center gap-3"
      style="flex-basis: fit-content"
    >
      <button class="my-btn-primary mx-3" (click)="add()">
        Thêm vào nhóm <i class="ms-1 bi bi-chevron-right"></i>
      </button>
      <button class="my-btn-primary mx-3" (click)="remove()">
        <i class="bi bi-chevron-left me-1"></i>Bớt khỏi nhóm
      </button>
    </div>

    <div
      class="flex-grow-1 overflow-y-auto"
      style="
        background: #cfcfcfff;
        color: black;
        padding: 1rem;
        flex-basis: 40%;
      "
    >
      <app-list-view
        [itemTemplate]="deviceListItemTemplate"
        [items]="deviceListItems"
        backgroundColor="#cfcfcfff"
        activeBackgroundColor="#c2e1ed9e"
        [(ngModel)]="devicesToRemove"
      ></app-list-view>
      <ng-template #deviceListItemTemplate let-item="item">
        <app-svg-icon
          icon="video-camera-2"
          class="mx-1"
          color="green"
        ></app-svg-icon>
        <span class="user-select-none">{{ item.text }}</span>
      </ng-template>
    </div>
  </div>
</app-form-dialog>
