table {
  th {
    background: #4a494bff;
    color: #ffffff;
    font-weight: bold;
  }

  tr:nth-child(odd) {
    td {
      background: #303030ff;
    }
  }

  tr:nth-child(even) {
    td {
      background: #28282aff;
    }
  }

  td {
    padding: 0.25rem;
  }

  tr:hover,
  tr.selected {
    td {
      background-color: var(--my-bg-primary);
    }
  }
}
