<div class="d-flex" style="height: 400px">
  <div
    class="w-50 border border-light"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
  ></div>
  <div class="w-50 border border-light d-flex justify-content-center">
    <div style="aspect-ratio: 16/9">
      <app-event-image
        *ngIf="event"
        [event]="event.data"
        (click)="showEventDetail()"
      ></app-event-image>
    </div>
  </div>
</div>
<div class="overflow-y-auto my-text-white flex-grow-1 flex-basis-0">
  <table class="w-100">
    <colgroup>
      <col width="24" />
      <col span="5" width="auto" />
      <col width="150" />
    </colgroup>
    <thead style="background: #4a494bff" class="sticky-top">
      <th class="py-1 px-2"></th>
      <th class="py-1 px-2">Thời gian</th>
      <th class="py-1 px-2">Camera</th>
      <th class="py-1 px-2">Quy tắc</th>
      <th class="py-1 px-2">Đối tượng</th>
      <th class="py-1 px-2">Nghiêm trọng</th>
      <th class="py-1 px-2"></th>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of events; index as i; trackBy: trackByDetectionId"
        class="my-bg-primary-hover cursor-pointer"
        [ngClass]="eventIndex === i ? 'selected' : ''"
        (click)="onEventClick(item, i)"
      >
        <td class="py-1 px-2">
          <label
            class="custom-checkbox bg-transparent"
            (click)="$event.stopPropagation()"
          >
            <input type="checkbox" [(ngModel)]="item.selected" />
          </label>
        </td>
        <td class="py-1 px-2">
          {{
            item.data.images_info[0].detection_time
              | datetime : "HH:mm:ss DD-MM-YYYY"
          }}
        </td>
        <td class="py-1 px-2">{{ item.device.name || "[Chưa cập nhật]" }}</td>
        <td class="py-1 px-2">{{ item.data.alarm_type }}</td>
        <td class="py-1 px-2">
          <app-svg-icon [icon]="item.object_icon"></app-svg-icon>
        </td>
        <td class="py-1 px-2">{{ item.severity }}</td>
        <td class="py-1 px-2">
          <i
            class="bi cursor-pointer fs-18 text-light rounded-circle border-0 p-0 m-0"
            [ngClass]="
              item.data.is_verify
                ? 'bi-check-circle bg-success'
                : 'bi-x-circle bg-dark'
            "
          ></i>
        </td>
      </tr>
      <tr *ngIf="events.length === 0" style="background-color: #303030ff">
        <td [colSpan]="7" class="text-center py-1">Không có dữ liệu</td>
      </tr>
    </tbody>
  </table>
</div>
