<app-rule-menu class="menu-container"></app-rule-menu>
<div class="menu-container d-flex align-items-center px-2">
  <span class="fw-bold my-text-white">Quy tắc sự kiện</span>
  <button type="button" class="my-btn-primary ms-auto" (click)="add()">
    <i class="bi bi-plus me-2"></i> Thêm
  </button>
</div>
<div class="flex-grow-1 flex-basis-0 overflow-y-auto overflow-x-hidden">
  <app-expandable-table
    class="w-100"
    classNames="bg-black"
    [data]="data"
    rowKey="key"
    [columns]="columns"
    [collapseContentTemplateRef]="contentTemplate"
  ></app-expandable-table>
</div>
<ng-template #contentTemplate let-data="data">
  <form [formGroup]="data.form" (submit)="submit(data)">
    <div class="row">
      <div class="col-7">
        <input
          class="w-100 inline-input fs-16 text-white bg-transparent"
          formControlName="name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="form-group row mt-4">
          <div class="col-4">
            <label class="fs-14 col-form-label" [htmlFor]="data.id + '__status'"
              >Hoạt động:</label
            >
          </div>
          <div class="col-8">
            <div
              class="form-check form-switch"
              *ngIf="data.isEditable; else statusTemplate"
            >
              <input
                class="form-check-input"
                type="checkbox"
                [id]="data.id + '__status'"
                formControlName="status"
              />
            </div>
            <ng-template #statusTemplate>
              <i
                class="bi text-white"
                [ngClass]="data.status ? 'bi-check-lg' : 'bi-x'"
              ></i>
            </ng-template>
          </div>
        </div>
        <div class="form-group row mt-2">
          <div class="col-4">
            <label class="col-form-label" [htmlFor]="data.id + '__ten-tich-hop'"
              >Tên tích hợp:</label
            >
          </div>
          <div class="col-8">
            <input
              type="text"
              [id]="data.id + '__ten-tich-hop'"
              class="form-control bg-transparent border-light form-control-sm"
              formControlName="integration"
              *ngIf="data.isEditable; else integrationTemplate"
            />
            <ng-template #integrationTemplate>
              <span class="fs-14">{{ data.integrationName }}</span>
            </ng-template>
          </div>
        </div>
        <!-- Điểm giám sát -->
        <div class="form-group row mt-2">
          <div class="col-4">
            <label
              class="col-form-label"
              [htmlFor]="data.id + '__diem-giam-sat'"
              >Điểm giám sát:</label
            >
          </div>
          <div class="col-8">
            <app-select-3
              [id]="data.id + '__diem-giam-sat'"
              formControlName="preset"
              class="bg-dark"
              *ngIf="data.isEditable; else presetTemplate"
            >
              <app-select-3-option
                *ngFor="let item of presets | keyvalue; trackBy: trackById"
                [value]="item.value"
                [label]="item.value.name"
                value-key="id"
              ></app-select-3-option>
            </app-select-3>
            <ng-template #presetTemplate>
              <span class="fs-14">{{ data.preset?.name }}</span>
            </ng-template>
          </div>
        </div>
        <!-- Loại quy tắc -->
        <div class="form-group row mt-2">
          <div class="col-4">
            <label class="col-form-label" [htmlFor]="data.id + '__loai-quy-tac'"
              >Loại quy tắc:</label
            >
          </div>
          <div class="col-8">
            <app-select-3
              [id]="data.id + '__loai-quy-tac'"
              formControlName="type"
              place-holder="Loại quy tắc"
              class="bg-dark"
              *ngIf="data.isEditable; else typeTemplate"
            >
              <app-select-3-option
                *ngFor="let item of ruleTypes; trackBy: trackByValue"
                [value]="item"
                [label]="item.name"
                value-key="id"
              ></app-select-3-option>
            </app-select-3>
            <ng-template #typeTemplate>
              <span class="fs-14">{{ data.type?.name }}</span>
            </ng-template>
          </div>
        </div>
        <!-- Loại đối tượng -->
        <div class="form-group row mt-2" *ngIf="data.objectsVisible">
          <div class="col-4">
            <label
              class="col-form-label"
              [htmlFor]="data.id + '__loai-doi-tuong'"
              >Loại đối tượng:</label
            >
          </div>
          <div class="col-8">
            <app-select-3
              [id]="data.id + '__loai-doi-tuong'"
              [multiple]="true"
              [template]="selectedObjectsTemplate"
              class="bg-dark"
              formControlName="objects"
              *ngIf="data.isEditable; else objectsTemplate"
            >
              <app-select-3-option
                *ngFor="let item of objects; trackBy: trackById"
                [value]="item"
                [label]="item.name"
                value-key="id"
                [template]="objectItemTemplate"
              ></app-select-3-option>
            </app-select-3>
            <ng-template #selectedObjectsTemplate let-value="value">
              <div class="d-flex">
                <app-svg-icon
                  *ngFor="let item of value"
                  class="mx-1"
                  [icon]="item.icon"
                ></app-svg-icon>
              </div>
            </ng-template>
            <ng-template
              #objectItemTemplate
              let-value="value"
              let-label="label"
            >
              <app-svg-icon class="mx-1" [icon]="value.icon"></app-svg-icon>
              <span class="mx-1">{{ label }}</span>
            </ng-template>
            <ng-template #objectsTemplate>
              <ng-container *ngFor="let object of data.objects || []">
                <app-svg-icon [icon]="object.icon" class="mx-1"></app-svg-icon>
              </ng-container>
            </ng-template>
          </div>
        </div>
        <!-- Thời gian vượt -->
        <div class="form-group row mt-2" *ngIf="data.timeStandVisible">
          <div class="col-4">
            <label class="col-form-label">Thời gian vượt:</label>
          </div>
          <div class="col-8">
            <div
              class="input-group input-group-sm border rounded-1 border-light"
              *ngIf="data.isEditable; else timeStandTemplate"
            >
              <input
                type="number"
                min="5"
                max="180"
                class="form-control form-control-sm bg-transparent"
                formControlName="time_stand"
              />
              <span class="input-group-text">(1-180s)</span>
            </div>
            <ng-template #timeStandTemplate>
              <span class="fs-14">{{ data.time_stand }} (1 - 180s)</span>
            </ng-template>
          </div>
        </div>
        <!-- Thời gian bỏ lại (Đối tượng bỏ lại) -->
        <div class="form-group row mt-2" *ngIf="data.losingTimeVisible">
          <div class="col-4">
            <label class="col-form-label">Thời gian bỏ lại:</label>
          </div>
          <div class="col-8">
            <div
              class="input-group input-group-sm border rounded-1 border-light"
              *ngIf="data.isEditable; else losingTimeTemplate"
            >
              <input
                type="number"
                min="0"
                max="30"
                class="form-control form-control-sm bg-transparent"
                formControlName="losing_time"
              />
              <span class="input-group-text">(0-30s)</span>
            </div>
            <ng-template #losingTimeTemplate>
              <span class="fs-14">{{ data.losing_time }} (0 - 30s)</span>
            </ng-template>
          </div>
        </div>
        <!-- Thời gian bỏ lại (Đối tượng lấy đi) -->
        <div class="form-group row mt-2" *ngIf="data.abandonTimeVisible">
          <div class="col-4">
            <label class="col-form-label">Thời gian bỏ lại:</label>
          </div>
          <div class="col-8">
            <div
              class="input-group input-group-sm border rounded-1 border-light"
              *ngIf="data.isEditable; else abandonTimeTemplate"
            >
              <input
                type="number"
                min="0"
                max="30"
                class="form-control form-control-sm bg-transparent"
                formControlName="abandon_time"
              />
              <span class="input-group-text">(0-30s)</span>
            </div>
            <ng-template #abandonTimeTemplate>
              <span class="fs-14">{{ data.abandon_time }} (0 - 30s)</span>
            </ng-template>
          </div>
        </div>
        <!-- Độ nhạy -->
        <div class="form-group row mt-2" *ngIf="data.sensitiveVisible">
          <div class="col-4">
            <label class="col-form-label">Độ nhạy:</label>
          </div>
          <div class="col-8">
            <div
              class="input-group input-group-sm border rounded-1 border-light"
              *ngIf="data.isEditable; else sensitiveTemplate"
            >
              <input
                type="number"
                min="0"
                max="30"
                class="form-control form-control-sm bg-transparent"
                formControlName="sensitive"
              />
              <span class="input-group-text">(0-5s, default 3)</span>
            </div>
            <ng-template #sensitiveTemplate>
              <span class="fs-14">{{ data.sensitive }} (0-5s)</span>
            </ng-template>
          </div>
        </div>
        <!-- Mức độ nghiêm trọng -->
        <div class="form-group row mt-2">
          <div class="col-4">
            <label class="col-form-label" [htmlFor]="data.id + '__severity'"
              >Mức độ nghiêm trọng:</label
            >
          </div>
          <div class="col-8">
            <app-select-3
              [id]="data.id + '__severity'"
              formControlName="severity"
              class="bg-dark"
              *ngIf="data.isEditable; else severityTemplate"
            >
              <app-select-3-option
                *ngFor="let item of severities; trackBy: trackById"
                [value]="item"
                [label]="item.name"
                value-key="id"
              ></app-select-3-option>
            </app-select-3>
            <ng-template #severityTemplate>
              <span class="fs-14">{{ data.severity.name }}</span>
            </ng-template>
          </div>
        </div>
        <!-- Lịch trình -->
        <div class="form-group row mt-2">
          <div class="col-4">
            <label class="col-form-label" [htmlFor]="data.id + '__lich-trinh'"
              >Lịch trình:</label
            >
          </div>
          <div class="col-8">
            <app-select-3
              [id]="data.id + '__lich-trinh'"
              formControlName="schedule"
              class="bg-dark"
              *ngIf="data.isEditable; else scheduleTemplate"
            >
              <app-select-3-option
                *ngFor="let item of schedules; trackBy: trackById"
                [value]="item"
                [label]="item.name"
                value-key="id"
              ></app-select-3-option>
            </app-select-3>
            <ng-template #scheduleTemplate>
              <span class="fs-14">{{ data.schedule.name }}</span>
            </ng-template>
          </div>
        </div>
        <!-- Footer -->
        <div class="form-group d-flex justify-content-end mt-2">
          <ng-container *ngIf="data.isEditable; else footerTemplate">
            <button
              type="button"
              class="my-button cancel mx-1"
              (click)="cancel(data)"
            >
              Hủy
            </button>
            <button
              type="submit"
              class="my-button submit mx-1"
              [disabled]="!data.canSubmit"
            >
              Lưu
            </button>
          </ng-container>
          <ng-template #footerTemplate>
            <button
              type="button"
              class="my-button cancel mx-1"
              (click)="remove(data)"
            >
              Xóa
            </button>
            <button
              type="button"
              class="my-button submit mx-1"
              (click)="edit(data)"
            >
              Chỉnh
            </button>
          </ng-template>
        </div>
      </div>
      <div class="col-5">
        <div class="d-flex align-items-center justify-content-center">
          <app-bounding-box-editor
            style="aspect-ratio: 16/9; width: 80%"
            [type]="data.boundingBoxType"
            formControlName="points"
            [direction]="data.direction"
            [src]="{
            nodeId,
            deviceId: cameraId,
            presetId: data.preset?.value
          }"
          ></app-bounding-box-editor>
        </div>
        <div
          class="d-flex align-items-center justify-content-center"
          *ngIf="data.directionSelectionVisible && data.isEditable"
        >
          <button
            type="button"
            class="my-btn-primary"
            (click)="toggleDirection(data)"
          >
            Đổi hướng
          </button>
          <label class="ms-2 cursor-pointer user-select-none"
            ><input type="checkbox" formControlName="bothDirection" /> Cả 2
            hướng</label
          >
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #objectColumnTemplate let-row="row">
  <ng-container *ngFor="let item of row.objects">
    <app-svg-icon class="mx-1" [icon]="item.icon"></app-svg-icon>
  </ng-container>
</ng-template>
