<app-form-dialog
  [formGroup]="form"
  title="Add preset management"
  [canSubmit]="form.valid"
  (cancel)="cancel()"
  (submit)="submit()"
>
  <div class="form-group">
    <label>Preset</label>
    <app-select-2 [items]="presets" formControlName="preset"></app-select-2>
  </div>
  <div class="form-group mt-2">
    <label>Thời gian dừng (s)</label>
    <input
      type="number"
      min="1"
      formControlName="standTime"
      class="form-control form-control-sm bg-transparent border-light border-1"
      required
    />
  </div>
  <div class="form-group mt-2">
    <label>Thời gian chuyển (s)</label>
    <input
      type="number"
      min="1"
      formControlName="movingTime"
      class="form-control form-control-sm bg-transparent border-light border-1"
      required
    />
  </div>
</app-form-dialog>
