<app-form-dialog title="Nguồn sự kiện" (cancel)="cancel()" (submit)="submit()">
  <table class="w-100">
    <colgroup>
      <col width="32" />
      <col width="auto" span="5" />
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>Tên quy tắc <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Điểm giám sát <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Loại quy tắc <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Loại đối tượng <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Lịch trình <i class="mx-1 bi bi-sort-alpha-down"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>
          <label class="custom-checkbox">
            <input type="checkbox" [(ngModel)]="item.isSelected" />
          </label>
        </td>
        <td>{{ item.rule.name }}</td>
        <td>{{ item.presetName }}</td>
        <td>{{ item.rule.alarm_type }}</td>
        <td>
          <app-svg-icon
            *ngFor="let icon of item.icons"
            [icon]="icon"
            class="me-2"
          ></app-svg-icon>
        </td>
        <td>{{ item.scheduleName }}</td>
      </tr>
    </tbody>
  </table>
</app-form-dialog>
