<app-form-dialog title="Nguồn sự kiện" (cancel)="cancel()" (submit)="submit()">
  <table class="w-100">
    <colgroup>
      <col width="32" />
      <col width="auto" span="5" />
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th>Tên quy tắc <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Điểm giám sát <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Loại quy tắc <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Loại đối tượng <i class="mx-1 bi bi-sort-alpha-down"></i></th>
        <th>Lịch trình <i class="mx-1 bi bi-sort-alpha-down"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
            type="checkbox"
            class="my-input"
          />
        </td>
        <td>Vượt rào từ ngoài vào</td>
        <td>Điểm giám sát 1</td>
        <td>Vượt đường từ trái sang phải</td>
        <td><i class="bi bi bi-person-walking"></i></td>
        <td>Lịch trình 1</td>
      </tr>
      <tr>
        <td>
          <input
            type="checkbox"
            class="my-input"
          />
        </td>
        <td>Vượt rào từ ngoài vào</td>
        <td>Điểm giám sát 1</td>
        <td>Vượt đường từ trái sang phải</td>
        <td><i class="bi bi bi-person-walking"></i></td>
        <td>Lịch trình 1</td>
      </tr>
      <tr>
        <td>
          <input
            type="checkbox"
            class="my-input"
          />
        </td>
        <td>Vượt rào từ ngoài vào</td>
        <td>Điểm giám sát 1</td>
        <td>Vượt đường từ trái sang phải</td>
        <td><i class="bi bi bi-person-walking"></i></td>
        <td>Lịch trình 1</td>
      </tr>
    </tbody>
  </table>
</app-form-dialog>
