.my-pagination {
  display: flex;
  align-items: center;
  align-content: flex-start;
}

.my-pagination a {
  color: white;
  text-decoration: none;
  padding: 2px 2px;
  outline: none;
  border: none;
}

.my-pagination a:hover:not(.active) {
  color: black;
  background-color: lightgray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  text-align: center;
}

.my-pagination a.active {
  background-color: #5285b6ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: auto;
  padding: 0;
}
