<div class="bg-dark text-white my-pagination">
  <span class="fw-bold">{{ totalItems }} kết quả</span>
  <a
    href="javascript:0"
    (click)="first()"
    [ngClass]="{ 'pe-none text-secondary': currentPage == 1 }"
    class="mx-1"
    ><i class="fw-bold bi-chevron-bar-left"></i
  ></a>
  <a
    href="javascript:0"
    (click)="previous()"
    [ngClass]="{ 'pe-none text-secondary': currentPage == 1 }"
    class="mx-1"
    ><i class="fw-bold bi bi-chevron-double-left"></i
  ></a>

  <a
    href="javascript:0"
    [ngClass]="{ active: page === currentPage }"
    (click)="selectPage(page)"
    *ngFor="let page of pages"
    class="mx-1"
    >{{ page }}</a
  >
  <a
    href="javascript:0"
    (click)="next()"
    [ngClass]="{ 'pe-none text-secondary': currentPage == totalPages }"
    class="mx-1"
    ><i class="fw-bold bi bi-chevron-double-right"></i
  ></a>
  <a
    href="javascript:0"
    (click)="last()"
    [ngClass]="{ 'pe-none text-secondary': currentPage == totalPages }"
    class="mx-1"
    ><i class="fw-bold bi-chevron-bar-right"></i
  ></a>
</div>
