<div class="menu-container d-flex justify-content-between">
  <span class="ms-2">Node</span>
  <div class="me-2">
    <button class="btn btn-primary text-white px-2" (click)="add()">
      <i class="bi bi-plus"></i>Thêm
    </button>
  </div>
</div>
<div class="content-wrapper">
  <app-expandable-table
    rowKey="id"
    [data]="data"
    [columns]="columns"
    [collapseContentTemplateRef]="collapseContentTemplate"
  ></app-expandable-table>
  <ng-template #collapseContentTemplate let-data="data">
    <form [formGroup]="data.form" class="row" (submit)="submit(data)">
      <div class="col-8">
        <div class="row">
          <input
            class="fs-16 inline-input w-100 text-white bg-transparent"
            formControlName="name"
            required
          />
        </div>
        <ng-container *ngIf="data.isEditable; else readonlyForm">
          <div class="row mt-4">
            <div class="col-3">Loại:</div>
            <div class="col-6">
              <app-select-2
                [items]="types"
                formControlName="type"
                required
              ></app-select-2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">Host/Cổng:</div>
            <div class="col-6">
              <input
                class="form-control form-control-sm border border-light bg-transparent text-white"
                formControlName="host"
                required
              />
            </div>
            <div class="col-3">
              <input
                type="number"
                min="1"
                max="65535"
                class="form-control form-control-sm border border-light bg-transparent text-white"
                formControlName="port"
                required
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">ID người dùng:</div>
            <div class="col-6">
              <input
                class="form-control form-control-sm border border-light bg-transparent text-white"
                formControlName="userId"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-3">Mật khẩu</div>
            <div class="col-6">
              <password-input formControlName="password"></password-input>
            </div>
          </div>
          <div class="row mt-4">
            <div class="offset-8 col-auto">
              <button
                type="button"
                class="my-button cancel mx-1"
                (click)="cancel(data)"
              >
                Huỷ
              </button>
              <button
                type="submit"
                class="my-button submit mx-1"
                [disabled]="!data.canSubmit"
              >
                Lưu
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #readonlyForm>
          <div class="row mt-4">
            <div class="col-3">Loại:</div>
            <div class="col-6">{{ data.type.label }}</div>
          </div>
          <div class="row mt-2">
            <div class="col-3">Host/Cổng:</div>
            <div class="col-6">{{ data.host }}/{{ data.port }}</div>
            <div class="col-3"></div>
          </div>
          <div class="row mt-2">
            <div class="col-3">ID người dùng:</div>
            <div class="col-6">{{ data.userId }}</div>
          </div>
          <div class="row mt-2">
            <div class="col-3">Mật khẩu</div>
            <div class="col-6">{{ data.password | mask }}</div>
          </div>
          <div class="row mt-4">
            <div class="offset-8 col-auto">
              <button
                type="button"
                class="my-button remove mx-1"
                (click)="remove(data)"
              >
                Xóa
              </button>
              <button class="my-button submit mx-1" (click)="edit(data)">
                Chỉnh sửa
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </form>
  </ng-template>
  <ng-template #statusTemplate let-data="data">
    <div
      style="
        background: #a9d18e;
        width: 120px;
        text-align: center;
        color: white;
      "
    >
      ĐANG CHẠY
    </div>
  </ng-template>
</div>
