<div class="menu-container d-flex justify-content-between">
  <span class="ms-2">Node</span>
  <div class="me-2">
    <button class="btn btn-primary text-white px-2" (click)="add()">
      <i class="bi bi-plus"></i>Thêm
    </button>
  </div>
</div>
<div class="content-wrapper">
  <app-expandable-table
    rowKey="id"
    [data]="data"
    [columns]="columns"
    [collapseContentTemplateRef]="collapseContentTemplate"
  ></app-expandable-table>
  <ng-template #collapseContentTemplate let-data="data">
    <div class="row">
      <div class="col-8">
        <ng-container *ngIf="data.formData.editable; else readonlyForm">
          <div class="row">
            <div class="col-9">
              <input
                class="fs-16 inline-input w-100 text-white bg-transparent"
                [(ngModel)]="data.formData.name"
              />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-3">Loại:</div>
            <div class="col-6">
              <app-select-2
                [items]="types"
                [(ngModel)]="data.formData.type"
              ></app-select-2>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-3">Host/Cổng:</div>
            <div class="col-6">
              <input
                class="form-control form-control-sm border border-light bg-transparent text-white"
                [(ngModel)]="data.formData.host"
              />
            </div>
            <div class="col-3">
              <input
                type="number"
                min="1"
                max="65535"
                class="form-control form-control-sm border border-light bg-transparent text-white"
                [(ngModel)]="data.formData.port"
              />
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-3">ID người dùng:</div>
            <div class="col-6">
              <input
                class="form-control form-control-sm border border-light bg-transparent text-white"
                [(ngModel)]="data.formData.userId"
              />
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-3">Mật khẩu</div>
            <div class="col-6">
              <input
                type="password"
                class="form-control form-control-sm border border-light bg-transparent text-white"
                [(ngModel)]="data.formData.password"
              />
            </div>
          </div>
          <div class="row mt-4">
            <div class="offset-8 col-auto">
              <button
                class="btn btn-danger px-2 mx-1"
                (click)="data.formData.editable = false"
              >
                Huỷ
              </button>
              <button class="btn btn-primary px-2 mx-1" (click)="save(data)">
                Lưu
              </button>
            </div>
          </div></ng-container
        >
        <ng-template #readonlyForm>
          <div class="row">
            <span class="fs-16">{{ data.formData.name }}</span>
          </div>
          <div class="row mt-4">
            <div class="col-3">Loại:</div>
            <div class="col-6">{{ data.formData.type?.label }}</div>
          </div>
          <div class="row mt-1">
            <div class="col-3">Host/Cổng:</div>
            <div class="col-6">
              {{ data.formData.host }}/{{ data.formData.port }}
            </div>
            <div class="col-3"></div>
          </div>
          <div class="row mt-1">
            <div class="col-3">ID người dùng:</div>
            <div class="col-6">{{ data.formData.userId }}</div>
          </div>
          <div class="row mt-1">
            <div class="col-3">Mật khẩu</div>
            <div class="col-6"></div>
          </div>
          <div class="row mt-4">
            <div class="offset-8 col-auto">
              <button
                class="btn btn-danger px-2 mx-1 text-white"
                (click)="remove(data)"
              >
                Xóa
              </button>
              <button
                class="btn btn-primary px-2 mx-1 text-white"
                (click)="data.formData.editable = true"
              >
                Chỉnh sửa
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
