.menu-container {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.5rem;

      i {
        margin-right: 0.5em;
      }
    }

    li:hover {
      cursor: pointer;
      font-weight: bold;
    }

    li:hover.active {
      pointer-events: none;
      font-weight: unset;
      cursor: none;
    }

    li.active {
      border-bottom: 1px;
      border-bottom-color: var(--bs-primary);
      border-bottom-style: solid;
    }
  }
}
