<div class="menu-container d-flex justify-content-between align-items-center px-2">
  <ul>
    <li class="mx-2"><a class="text-decoration-none" [routerLink]="ruleUrl"><i class="bi bi-list-check"></i>Quy tắc</a></li>
    <li class="mx-2 active"><i class="bi bi-clock"></i>Lịch trình</li>
  </ul>
  <a class="btn btn-primary px-2 text-white" (click)="add()">
    <i class="bi bi-plus"></i> Thêm</a
  >
</div>
<div class="full-height">
  <app-expandable-table
    rowKey="id"
    [data]="data"
    [columns]="columns"
    [collapseContentTemplateRef]="rowContentTemplate"
  ></app-expandable-table>
  <ng-template #rowContentTemplate let-data="data">
    <div class="px-4 py-2">
      <div class="row">
        <div class="col-6">
          <input
            class="inline-input fs-16 w-100 text-white bg-transparent"
            [(ngModel)]="data.formData.name"
            [disabled]="data.formData.editable"
          />
        </div>
      </div>
      <div
        class="mt-5 row"
        style="
          display: grid;
          grid-template-columns: 20px repeat(24, 1fr);
          height: 20px;
        "
      >
        <span></span>
        <span *ngFor="let item of [].constructor(24); let i = index">
          {{ i }}
        </span>
      </div>
      <div
        *ngFor="let day of data.formData.scheduleData; let i = index"
        style="
          display: grid;
          grid-template-columns: 20px repeat(24, 1fr);
          height: 20px;
        "
      >
        <span>{{ daysInWeek[i] }}</span>
        <span
          (click)="day[j] = !day[j]"
          [ngStyle]="{
            'pointer-events': data.formData.editable ? 'auto' : 'none'
          }"
          class="border border-1 border-dark cursor-pointer"
          *ngFor="let hour of day; let j = index"
          [ngClass]="hour ? 'bg-primary' : 'bg-secondary'"
        >
        </span>
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <ng-container *ngIf="data.formData.editable; else viewButtonsTemplate">
          <button
            class="my-button cancel me-2"
            (click)="data.formData.editable = false"
          >
            Hủy
          </button>
          <button class="my-button submit" (click)="save(data)">Lưu</button>
        </ng-container>
        <ng-template #viewButtonsTemplate>
          <button class="my-button remove me-2" (click)="remove(data)">
            Xóa
          </button>
          <button
            class="my-button submit"
            (click)="data.formData.editable = true"
          >
            Chỉnh sửa
          </button>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
