<div class="bg-dark p-5 full-height">
  <div class="d-flex">
    <div class="day-label"></div>
    <div class="hour-container">
      <span *ngFor="let item of hoursInDay">{{ item }}</span>
    </div>
  </div>
  <div
    class="d-flex align-items-center"
    *ngFor="let dayData of data; index as i"
  >
    <div class="day-label">{{ daysInWeek[i].label }}</div>
    <div
      class="w-100 border border-light border-1 bg-transparent"
      style="position: relative; height: 30px"
    >
      <div
        class="tour"
        (click)="selectSchedule(tour)"
        [ngClass]="{ active: tour.selected }"
        *ngFor="let tour of dayData; index as j"
        [style.left.%]="tour.left"
        [style.width.%]="tour.width"
        [style.background]="tour.color"
      ></div>
    </div>
  </div>
  <div class="d-flex mt-4 justify-content-center">
    <button type="button" class="my-button submit mx-2" (click)="delete()">
      Xóa chọn
    </button>
    <button type="button" class="my-button submit mx-2" (click)="deleteAll()">
      Xóa tất cả
    </button>
  </div>
  <form [formGroup]="form" (ngSubmit)="add()">
    <div class="row mt-4">
      <div class="col-4">
        <div class="d-flex align-items-center">
          <span class="label">Thời gian:</span>
          <app-time-input
            formControlName="startTime"
            name="start-time"
            id="start-time"
          ></app-time-input>
          <span class="mx-2">~</span>
          <app-time-input
            formControlName="endTime"
            name="end-time"
            id="end-time"
          ></app-time-input>
        </div>
      </div>
      <div class="col-4 d-flex align-items-center">
        <label for="day" class="label">Ngày:</label>
        <app-select-2
          class="w-100"
          [items]="daysInWeek"
          name="day"
          formControlName="day"
          id="day"
        ></app-select-2>
      </div>
    </div>

    <div class="row mt-3">
      <div class="d-flex align-items-center">
        <span class="label">Loại hành trình:</span>
        <div class="me-2 w-40">
          <input
            type="radio"
            name="type"
            id="type-patrol"
            value="patrol"
            formControlName="type"
          />
          <label class="ms-1" for="type-patrol">Tuần tra</label>
        </div>
        <div class="w-40">
          <input
            type="radio"
            name="type"
            id="type-preset"
            value="preset"
            formControlName="type"
          />
          <label class="ms-1" for="type-preset">Điểm giám sát</label>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-4 d-flex align-items-center">
        <label for="patrol" class="label">Hành trình: </label>
        <app-select-2
          class="w-100"
          [items]="journeyList"
          formControlName="journey"
        ></app-select-2>
      </div>
      <div class="col-4">
        <button class="my-button submit" [disabled]="!canAdd()">
          Thêm lịch trình
        </button>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-center align-items-center mt-4">
    <button type="button" class="my-button cancel mx-1" (click)="cancel()">
      Hủy
    </button>
    <button
      type="submit"
      class="my-button submit mx-1"
      type="button"
      [disabled]="!canSave"
      (click)="save()"
    >
      Lưu
    </button>
  </div>
</div>
