<div
  [style.gridTemplateColumns]="gridTemplateColumns"
  style="
    grid-auto-rows: 1fr;
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
    background: white;
  "
>
  <div
    *ngFor="let event of events"
    style="position: relative; background: #28282a; padding: 5px"
  >
    <ng-container *ngIf="event; else elseBlock">
      <img
        [src]="event.thumbnailUrl"
        *ngIf="event; else elseBlock"
        style="width: 100%; height: auto"
      />
      <span
        style="
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translateX(-25px);
          background-color: #7f7f7f7f;
          width: 50px;
          text-align: center;
          color: white;
        "
        >10:00</span
      >
    </ng-container>

    <ng-template #elseBlock></ng-template>
  </div>
</div>
