.my-input {
  padding: 2px;
  width: 100%;
  border: none;
  background: white;
  color: black;
  border-radius: 4px;
}

.my-input:focus {
  outline: none;
}

.my-input:invalid {
  border: 1px solid red;
}

.my-button {
  color: white;
  width: 120px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--bs-blue);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.my-button.submit {
  background: var(--bs-primary);
}

.my-button.submit[disabled] {
  background: var(--bs-secondary);
  pointer-events: none;
  color: gray;
}

.my-button.cancel {
  background: var(--bs-secondary);
}

.my-button.remove {
  background: var(--bs-danger);
}
