::ng-deep .event-popup .leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 0 !important;
}

::ng-deep .event-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep .event-popup .leaflet-popup-tip {
  display: none;
}

::ng-deep .ptz-unseen {
  border-width: 3px;
  border-color: rgb(237, 91, 89);
  border-style: solid;
  border-radius: 50%;

  background: rgb(236, 67, 145);
  text-align: center;
}

::ng-deep .camera-icon-container {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;

  i {
    border: 3px solid #ff0000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
  }

  img {
    width: 18px;
    height: 18px;
  }
}

::ng-deep .event-unseen {
  background: #ff2f92;
}

::ng-deep .event-seen {
  background: #3c3b3e;
}
