<div
  leaflet
  class="w-100 h-100"
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
></div>

<ng-template #eventListDialogTemplate>
  <div style="background: #3d3b3e">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10px;
      "
    >
      <span style="color: white; font-size: 14pt">Cổng chính</span>
      <a (click)="closeDialog()"
        ><i class="bi bi-x" style="font-size: 20pt; color: white"></i
      ></a>
    </div>
    <div class="events-container">
      <div
        class="event-container"
        (click)="showEventDetail(item)"
        *ngFor="let item of eventList"
      >
        <app-event-image class="event-image" [event]="item"></app-event-image>
        <div class="event-date">
          {{ item.images_info[0].detection_time | datetime : "DD/MM/YYYY" }}
        </div>
        <div class="event-time">
          {{ item.images_info[0].detection_time | datetime : "HH:mm" }}
        </div>
        <div class="checkbox-container">
          <label class="custom-checkbox" (click)="$event.stopPropagation()">
            <input
              type="checkbox"
              [(ngModel)]="item.checked"
              (ngModelChange)="onEventSelectionChanged()"
            />
          </label>
        </div>
      </div>
    </div>
  </div>
</ng-template>
