::ng-deep .event-popup .leaflet-popup-content-wrapper {
  padding: 0 !important;
  border-radius: 0 !important;
}

::ng-deep .event-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep .event-popup .leaflet-popup-tip {
  display: none;
}

::ng-deep .ptz-unseen {
  border-width: 3px;
  border-color: rgb(237, 91, 89);
  border-style: solid;
  border-radius: 50%;

  background: rgb(236, 67, 145);
  text-align: center;
}

::ng-deep .camera-icon-container {
  width: 80px !important;
  height: 42px !important;
  border: 2px solid #bfbfbf;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4px;

  .marker-icon-container {
    border-radius: 50%;
    border: 4px solid red;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4px;

    i {
      color: white;
    }

    img {
      width: 18px;
      height: 18px;
    }
  }

  span {
    font-size: 16px;
    color: black !important;
    text-align: right;
  }
}

::ng-deep .event-unseen {
  background: #ff2f92;
}

::ng-deep .event-seen {
  background: #3c3b3e;
}
