<div
  class="h-100 w-75"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  (leafletClick)="mapClicked($event)"
></div>
<div
  class="h-100 overflow-scroll w-25 mb-2"
  style="overflow-x: hidden !important"
>
  <div
    class="p-2 mb-1"
    *ngFor="let item of events"
    [ngClass]="getEventInfoBackgroundClass(item?.level)"
  >
    <div class="d-flex gap-3">
      <div class="text-truncate fs-20" [ngbTooltip]="item?.address">
        {{ item?.address }}
      </div>
      <div class="text-truncate fs-20" [ngbTooltip]="item?.address">
        {{ item?.timestamp }}
      </div>
    </div>
    <div
      class="mt-1"
      style="
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        column-gap: 0.2rem;
      "
    >
      <div class="text-center d-flex align-items-center" style="height: 100px">
        <img class="h-100 w-auto" [src]="item?.thumbnailUrl" />
      </div>
      <div class="d-flex justify-content-between flex-column flex-grow-1">
        <div class="text-truncate fs-16" [ngbTooltip]="item?.eventType">
          {{ item?.eventType }}
        </div>
        <div>
          <div class="car-side-32" *ngIf="item?.object === 'car'"></div>
          <div class="person-walking-32" *ngIf="item?.object === 'human'"></div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="text-truncate fs-20">{{ item?.licencePlate }}</div>
          <div>
            <a class="d-inline-block btn"
              ><i class="bi bi-star-fill text-warning"></i
            ></a>
            <a class="d-inline-block btn"><i class="bi bi-check-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
