<div class="w-100">
  <div
    class="d-flex justify-content-between p-1"
    style="cursor: pointer"
    *ngFor="let item of items; trackBy: trackByValue"
    [ngStyle]="{ background: item.selected ? 'rgb(82,133,182)' : '#515151' }"
    (click)="item.selected = !item.selected"
  >
    <span class="text-white">{{ item.text }}</span>
    <a
      (click)="remove(item)"
      class="text-white"
      [ngClass]="item.selected ? 'visible' : 'invisible'"
      ><i class="bi bi-trash-fill"></i
    ></a>
  </div>
</div>
