<div
  *ngFor="let item of events; trackBy: trackByEventId"
  class="d-flex flex-column"
  style="background: #4a494bff"
  (click)="showDetailedEvent(item)"
>
  <div
    class="d-flex align-items-center p-1 gap-1"
    style="border-bottom: 1px solid #bfbfbf"
    [ngStyle]="{ background: item.background_color }"
  >
    <label class="custom-checkbox" style="background-color: transparent">
      <input type="checkbox" />
    </label>
    <app-svg-icon
      class="object-icon"
      width="24px"
      height="24px"
      [icon]="item.object_icon"
    ></app-svg-icon>
    <div class="d-flex flex-column flex-grow-1">
      <div class="text-truncate">
        {{
          item.data.images_info[0].detection_time
            | datetime : "HH:mm:ss MM-MM-YYYY"
        }}
      </div>
      <div class="text-truncate">
        {{ item.device.address }}
      </div>
      <div class="text-truncate">
        {{ item.data.images_info[0].event_type }} {{ item.data.alarm_type }}
      </div>
    </div>
    <div class="d-flex flex-column h-100">
      <i class="bi bi-circle cursor-pointer"></i>
      <i class="mt-auto bi bi-geo-alt-fill cursor-pointer"></i>
    </div>
  </div>
  <div style="aspect-ratio: 16/9">
    <app-event-image [event]="item.data"></app-event-image>
  </div>
</div>
<div
  style="background: #4a494bff"
  *ngFor="let item of [].constructor(row * col - events.length)"
>
  <div style="height: 71px"></div>
  <div style="aspect-ratio: 16/9"></div>
</div>
