<div class="border-0 d-flex" style="padding: 6pt;">
    <div class="border" style="border-radius: 50% 0 0 50%; padding-left: 10px; border-right: 0 !important; width: 18pt; height: 18pt; position: relative;">
        <i class="bi bi-search text-light" style="position: absolute; bottom: 0;"></i>
    </div>
    <input class="border bg-dark text-light" style="border-left: 0!important; border-right: 0 !important; outline: none; height: 18pt" placeholder="Tìm kiếm">
    <div class="border" style="border-radius: 0 50% 50% 0; padding-left: 10px; width: 20px; border-left: 0!important; height: 18pt"> 
    </div>
</div>