<div class="menu-container">
  <ul class="list-inline">
    <li
      *ngFor="let item of systems"
      [ngStyle]="
        item.selected
          ? {
              borderBottom: '2px solid #517da8',
              poiterEvent: 'none'
            }
          : {}
      "
      (click)="onMenuItemClick(item)"
    >
      {{ item.label }}
    </li>
  </ul>
</div>

<div class="d-flex align-items-center my-bg-default px-3" style="height: 36px">
  <div class="my-text-white">Quản lý máy chủ Miletone VMS</div>
  <button class="ms-auto my-btn-primary" (click)="add()">
    <i class="bi bi-plus me-1"></i>Thêm
  </button>
</div>

<div
  class="flex-grow-1 overflow-y-auto overflow-x-hidden"
  style="flex-basis: 0"
>
  <app-expandable-table
    class="w-100"
    classNames="bg-black"
    [data]="data"
    [columns]="columns"
    rowKey="id"
    [collapseContentTemplateRef]="contentTemplate"
  ></app-expandable-table>
  <ng-template #contentTemplate let-data="data">
    <ng-container *ngIf="!data.isEditable; else editFormTemplate">
      <div class="row">
        <span class="fs-18">{{ data.name }}</span>
      </div>
      <div class="mt-4 row">
        <div class="col-3">Host/Cổng:</div>
        <div class="col-9">{{ data.host }}/{{ data.port }}</div>
      </div>
      <div class="mt-2 row">
        <div class="col-3">Loại xác thực:</div>
        <div class="col-9">
          {{ data.authenType?.label }}
        </div>
      </div>
      <div class="mt-2 row">
        <div class="col-3">ID người dùng:</div>
        <div class="col-9">
          {{ data.userId }}
        </div>
      </div>
      <div class="mt-2 row">
        <div class="col-3">Mật khẩu:</div>
        <div class="col-9">
          {{ data.password | mask }}
        </div>
      </div>
      <div class="mt-2 row">
        <div class="col-3">Cổng sự kiên:</div>
        <div class="col-9">
          {{ data.eventPort }}
        </div>
      </div>
      <div class="mt-3 row">
        <div class="offset-6">
          <button class="my-button remove mx-1" (click)="remove(data)">
            Xóa
          </button>
          <button
            class="my-button submit mx-1"
            (click)="data.isEditable = true"
          >
            Chỉnh sửa
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #editFormTemplate>
      <form (submit)="submit(data)" [formGroup]="data.form">
        <div class="row">
          <div class="col-8">
            <div class="form-group row">
              <div class="col-9">
                <input
                  class="form-control text-white bg-transparent border-0 border-bottom border-primary rounded-0 fs-16"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="form-group mt-4 row">
              <div class="col-3">Host/Cổng:</div>
              <div class="col-6">
                <input
                  class="form-control text-white bg-transparent border-light"
                  formControlName="host"
                />
              </div>
              <div class="col-3">
                <input
                  class="form-control text-white bg-transparent border-light"
                  formControlName="port"
                />
              </div>
            </div>
            <div class="form-group mt-2 row">
              <div class="col-3">Loại xác thực:</div>
              <div class="col-6">
                <app-select-2
                  [items]="authenTypes"
                  formControlName="authenType"
                ></app-select-2>
              </div>
            </div>
            <div class="form-group mt-2 row">
              <div class="col-3">ID người dùng:</div>
              <div class="col-6">
                <input
                  type="text"
                  autocomplete="off"
                  class="form-control text-white bg-transparent border-light"
                  formControlName="userId"
                />
              </div>
            </div>
            <div class="form-group mt-2 row">
              <div class="col-3">Mật khẩu:</div>
              <div class="col-6">
                <password-input
                  formControlName="password"
                  class="w-100"
                ></password-input>
              </div>
              <div class="col-3">
                <button
                  type="button"
                  class="w-100 my-button submit"
                  (click)="connect(data)"
                >
                  Test kết nối
                </button>
              </div>
            </div>
            <div class="mt-2 row">
              <div class="col-3">Cổng sự kiên:</div>
              <div class="col-6">
                <input
                  class="form-control text-white bg-transparent border-light"
                  formControlName="eventPort"
                />
              </div>
              <div class="col-3">
                <button
                  type="button"
                  class="w-100 my-button submit"
                  (click)="verify(data)"
                >
                  Test gửi
                </button>
              </div>
            </div>
            <div class="mt-3 row">
              <div class="offset-6">
                <button
                  type="button"
                  class="my-button cancel mx-1"
                  (click)="cancel(data)"
                >
                  Hủy
                </button>
                <button
                  class="my-button submit mx-1"
                  [disabled]="!data.canSubmit"
                >
                  Lưu
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-template>
  </ng-template>
  <ng-template #statusCellTemplateRef let-row="row">
    <ng-container [ngSwitch]="row.status">
      <div class="status success" *ngSwitchCase="'SUCCESS'">THÀNH CÔNG</div>
      <div class="status failure" *ngSwitchDefault>THẤT BẠI</div>
    </ng-container>
  </ng-template>
</div>
