<div class="header">
  <span class="title">Chi tiết sự kiện</span>
  <button class="close-button" (click)="close()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<div class="event-image">
  <app-event-image [event]="event"></app-event-image>
</div>
<div class="event-info">
  <p>Chi tiết đối tượng</p>
  <p>Camera: {{ event?.device_name }}</p>
  <p>Điểm giám sát:</p>
  <p>Thời gian: {{ event?.images_info[0].detection_time }}</p>
  <p>ID đối tượng: {{ event?.images_info[0].recognize_result.detection_id }}</p>
  <p>Loại: {{ event?.images_info[0].recognize_result.event_type }}</p>
  <p>Màu sắc: {{ event?.images_info[0].recognize_result.color }}</p>
  <p>Biển số: {{ event?.images_info[0].recognize_result.lisence_plate }}</p>
</div>
<div class="progress-bar">
  <div class="progress"></div>
</div>
<div class="toolbar">
  <app-svg-icon
    width="1.5em"
    height="1.5em"
    rotate="180"
    icon="next"
  ></app-svg-icon>
  <app-svg-icon width="1.5em" height="1.5em" icon="next"></app-svg-icon>
  <app-svg-icon width="1.5em" height="1.5em" icon="rewind"></app-svg-icon>
  <app-svg-icon width="1.5em" height="1.5em" icon="previous"></app-svg-icon>
  <span>hh:mm:ss</span>
  <app-svg-icon
    width="1.5em"
    height="1.5em"
    [rotate]="180"
    icon="previous"
  ></app-svg-icon>
  <app-svg-icon width="1.5em" height="1.5em" icon="fast-forward"></app-svg-icon>
</div>
<div class="footer">
  <button class="reject" type="button" (click)="verify($event, false)">
    Công nhận giả
  </button>
  <button class="accept" type="button" (click)="verify($event, true)">
    Công nhận thật
  </button>
</div>
