:host {
  display: flex;
  flex-direction: column;
}

.listview-header {
  background: #29282a;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.listview-body {
  flex: 1;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px #29282a solid;

  .listview-item {
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      width: 100%;
      background: transparent;
      border-color: #29282a;
    }

    span,
    i {
      color: white;
    }

    .op-buttons {
      display: flex;
      align-items: center;
      grid-area: 0.5rem;

      button {
        background: inherit;
        border: none;
        outline: none;
      }
    }
  }

  .listview-item.active {
    background: #5285b6;
  }
}
