<div class="listview-header px-2 fs-16">{{ title }}</div>
<ul class="listview-body">
  <li
    *ngFor="let item of items; trackBy: trackById"
    (click)="onItemClick($event, item)"
    [ngClass]="{ active: item.isSelected }"
    class="listview-item"
  >
    <input
      [(ngModel)]="item.label"
      class="inline-input"
      *ngIf="item.isEditable; else span"
    />
    <ng-template #span>
      <span class="ps-2">{{ item.label }}</span>
    </ng-template>
    <div class="op-buttons">
      <button
        type="button"
        *ngIf="item.isSelected && item.isEditable"
        (click)="onSaveClick($event, item)"
        title="Save"
      >
        <i class="bi bi-floppy-fill"></i>
      </button>
      <button
        type="button"
        *ngIf="item.isSelected && !item.isEditable"
        (click)="onEditClick($event, item)"
        title="Edit"
      >
        <i class="bi bi-pencil-square"></i>
      </button>
      <button
        *ngIf="item.isSelected"
        (click)="onRemoveClick($event, item)"
        title="Delete"
      >
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
  </li>
</ul>
