:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #4a494bff;
  gap: 2px;
}

button {
  color: #ffffff;
  background: #7f7f7f;
  border: 1px solid #2f528f;
  border-radius: 5px;
}

button.active {
  background: #5285b6;
}

button:disabled {
  background: #7f7f7f;
}

.toolbar {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;

    button {
      outline: none;
      border: none;
      background: #4a494bff;
    }
  }

  .right {
    .grid-size {
      cursor: pointer;
      align-self: center;
      margin-right: 4px;
    }
    .grid-size.active {
      pointer-events: none;
      cursor: none;
    }

    button {
      width: 90px;
      align-self: center;
      margin-left: 2px;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    button:last-child {
      margin-right: 20px;
    }
    button.active {
      pointer-events: none;
      cursor: none;
    }
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.paginationbar {
  height: 38px;
  padding: 0.5rem;
}
