<nav class="navbar navbar-dark justify-content-start">
  <button class="btn btn-sm" type="button" (click)="toggleSidebar($event)">
    <span class="text-white navbar-toggler-icon"></span>
  </button>
  <a href="javascript:0" class="navbar-brand">
    <img height="23pt" src="assets/images/logo.png" />
  </a>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-2 py-2">
  <ul class="navbar-nav">
    <li *ngFor="let item of navItems" class="nav-item">
      <div [ngClass]="{ active: item.isActive }" style="cursor: pointer; user-select: none;">
        <a class="nav-link" (click)="onMenuItemClick(item)">
          <app-svg-icon [icon]="item.icon"></app-svg-icon> {{ item.title }}</a
        >
      </div>
    </li>
  </ul>
</nav>
<div class="d-flex align-items-center pe-2" style="z-index: 200">
  <div>Admin</div>
  <div class="ms-2">
    <i
      (click)="logout()"
      style="cursor: pointer"
      class="bi bi-person-circle fs-3"
    ></i>
  </div>
</div>
