<nav class="navbar navbar-dark justify-content-start">
  <button class="btn btn-sm" type="button" (click)="toggleSidebar($event)">
    <span class="text-white navbar-toggler-icon"></span>
  </button>
  <a href="javascript:0" class="navbar-brand">
    <img height="23pt" src="assets/images/logo.png" />
  </a>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-2 py-2">
  <ul class="navbar-nav">
    <li *ngFor="let item of navItems" class="nav-item">
      <div
        [ngClass]="{ active: item.isActive }"
        class="user-select-none cursor-pointer"
      >
        <a
          class="fs-18 nav-link d-flex align-items-center"
          (click)="onMenuItemClick(item)"
        >
          <app-svg-icon class="me-1" [icon]="item.icon"></app-svg-icon>
          {{ item.title }}</a
        >
      </div>
    </li>
  </ul>
</nav>
<div class="d-flex align-items-center pe-2" style="z-index: 200">
  <div class="fs-18">Admin</div>
  <div
    class="ms-2"
    #userMenuPopover="ngbPopover"
    [ngbPopover]="userMenuContent"
    triggers="manual"
    [autoClose]="'outside'"
    (click)="userMenuPopover.open()"
    popoverClass="bg-light text-dark"
  >
    <i class="bi bi-person-circle fs-3 cursor-pointer"></i>
  </div>
</div>
<ng-template #userMenuContent>
  <ul class="list-unstyled user-menu">
    <li (click)="userMenuPopover.close(); showChangePasswordDialog()">
      Đổi mật khẩu
    </li>
    <li (click)="logout()">Đăng xuất</li>
  </ul>
</ng-template>
<ng-template #changePasswordContent let-modal>
  <div class="modal-header">
    <span class="fs-16 fw-bold">Đổi mật khẩu</span>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <password-input [formControl]="passwordFormControl"></password-input>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Đóng
    </button>
    <button
      [disabled]="passwordFormControl.invalid"
      type="button"
      class="btn btn-primary"
      (click)="changePassword()"
    >
      Lưu
    </button>
  </div>
</ng-template>
