<div>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submit()">
    <div class="form-header">
      <!-- <span class="title">BOHO</span> -->
      <img src="/assets/images/logo.png" />
    </div>
    <div class="form-body">
      <div class="form-item">
        <fa-icon icon="user"></fa-icon>
        <input
          type="text"
          class="form-input"
          autocomplete="off"
          formControlName="username"
          placeholder="ID"
          required
        />
      </div>
      <div class="form-item">
        <fa-icon icon="lock"></fa-icon>
        <password-input
          formControlName="password"
          placeholder="Password"
          required
          class="form-input"
        ></password-input>
        <!-- <input
          [type]="passwordVisible ? 'text' : 'password'"
          class="form-input"
          autocomplete="off"
          formControlName="password"
          placeholder="Password"
          required
        />
        <fa-icon
          [icon]="passwordVisible ? 'eye-slash' : 'eye'"
          (click)="passwordVisible = !passwordVisible"
        ></fa-icon> -->
      </div>
      <div class="form-item">
        <button type="submit" class="submit-button">Sign in</button>
      </div>
    </div>
    <div class="form-footer">
      <a class="forget-password">Forgot password</a>
    </div>
  </form>
</div>
