<app-post-action-options
  *ngIf="!!editingRowItem; else elseBlock"
  [type]="editingRowItem.postActionType"
  [data]="editingRowItem.postActionOptions"
  [nodeId]="editingRowItem.nodeId"
  [deviceId]="editingRowItem.deviceId"
  [presetId]="editingRowItem.presetId"
  (exit)="exitSettingMode()"
  (save)="saveAndExitSettingMode($event)"
>
</app-post-action-options>
<ng-template #elseBlock>
  <table class="w-100">
    <colgroup>
      <col [width]="24" />
      <col [width]="120" />
      <col span="3" width="auto" />
      <col [width]="120" />
    </colgroup>
    <thead>
      <th><input type="checkbox" [indeterminate]="true" /></th>
      <th>Số chuyền</th>
      <th>Tên camera PTZ</th>
      <th>Điểm giám sát</th>
      <th>Hành động sau</th>
      <th></th>
    </thead>
    <tbody>
      <tr
        *ngFor="let rowItem of tableItemsSource; trackBy: trackByKey"
        [formGroup]="rowItem.form"
      >
        <td><input type="checkbox" formControlName="selected" /></td>
        <td>{{ rowItem.isNew ? "" : rowItem.id }}</td>
        <td>
          <app-select-3 place-holder="Không" formControlName="deviceId">
            <app-select-3-option
              *ngFor="let device of ptzCameras; trackBy: trackById"
              [value]="device.id"
              [label]="device.name"
            ></app-select-3-option>
          </app-select-3>
        </td>
        <td>
          <app-select-3 place-holder="Không" formControlName="presetId">
            <app-select-3-option
              *ngFor="let preset of rowItem.presets; trackBy: trackById"
              [value]="preset.id"
              [label]="preset.name"
            ></app-select-3-option>
          </app-select-3>
        </td>
        <td>
          <app-select-3 formControlName="postActionType">
            <app-select-3-option
              *ngFor="let item of postActionItemsSource; trackBy: trackById"
              [value]="item.value"
              [label]="item.label"
            ></app-select-3-option>
          </app-select-3>
        </td>
        <td>
          <button
            class="my-btn bg-primary"
            (click)="enterSettingMode(rowItem)"
            [disabled]="!rowItem.canConfigurePostAction"
          >
            Cài đặt
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-5">
    <button
      class="my-btn bg-secondary mx-3"
      style="width: 80px"
      (click)="onCancelClicked()"
    >
      Hủy
    </button>
    <button
      class="my-btn bg-primary"
      style="width: 80px"
      (click)="onSaveClicked()"
    >
      Lưu
    </button>
  </div>
</ng-template>
