<div *ngFor="let item of [].constructor(25)" class="event-container">
  <div class="event-info">
    <input type="checkbox" class="seen-checkbox" />
    <app-svg-icon
      class="object-icon"
      width="24px"
      height="24px"
      icon="bicycle"
    ></app-svg-icon>
    <div class="event-detail">
      <div>10:56:32 16-08-2...</div>
      <div>Sảnh siêu thị Co...</div>
      <div>Người di chuyển ...</div>
    </div>
    <div class="event-controls">
      <button><i class="bi bi-circle"></i></button>
      <button><i class="bi bi-geo-alt-fill"></i></button>
    </div>
  </div>
  <img class="event-image" src="/assets/images/car.png" />
</div>
