<div class="menu-item-label" [ngClass]="{'active': isSelected}">
  <a (click)="item.onclick && item.onclick(item)">
    <i
      class="bi cursor-pointer"
      [ngClass]="isExpanded ? 'bi-chevron-down' : 'bi-chevron-right'"
      *ngIf="hasChild"
      (click)="$event.stopPropagation(); isExpanded = !isExpanded"
    ></i>
    <i class="px-1" [ngClass]="item.icon" *ngIf="item.icon"></i
    >{{ item.label }}</a
  >
</div>

<app-menu
  [ngClass]="{ 'd-none': !isExpanded }"
  [menuItems]="item.children!"
  [value]="value"
  *ngIf="hasChild"
></app-menu>
