<div class="d-flex bg-dark h-100">
    <div class="w-100"></div>
    <div class="search-form p-4">
        <div class="form-title">Bộ lọc</div>
        <div class="form-item">
            <div class="label">Loại rule</div>
            <input class="control w-100"/>
        </div>
        <div class="form-item">
            <div class="label">Loại đối tượng</div>
            <input class="control w-100"/>
        </div>
        <div class="form-item">
            <div class="label">Thời gian nhỏ nhất</div>
            <input class="control w-100"/>
        </div>
        <div class="form-item">
            <div class="label">Khoảng thời gian</div>
            <input class="control w-100"/>
        </div>
        <div class="form-item">
            <div class="label">Giới hạn số sự kiện tìm thấy</div>
            <input class="control w-100"/>
        </div>
        <div class="form-item mt-4 text-center">
            <button class="btn btn-primary button" (click)="search()">Tìm kiếm</button>
        </div>
    </div>
</div>
