<div class="toolbar">
  <div class="ms-1 left align-items-center d-flex">
    <app-svg-icon
      width="24px"
      height="24px"
      icon="arrow-back-arrow"
      class="cursor-pointer"
      *ngIf="selectedEvents.length"
      (click)="selectedEvents = []"
    ></app-svg-icon>
    <button
      *ngIf="selectedEvents.length"
      (click)="export($event)"
      class="px-3 w-auto"
      style="background: #5285b6ff"
    >
      Xuất dữ liệu
    </button>
  </div>
  <div class="right align-items-center d-flex">
    <app-svg-icon
      icon="grid-2"
      class="grid-size"
      height="24px"
      width="24px"
      color="#FFFFFF"
      (click)="setGridColumn(2)"
    ></app-svg-icon>
    <app-svg-icon
      icon="grid-3"
      class="grid-size"
      width="24px"
      height="24px"
      (click)="setGridColumn(3)"
    ></app-svg-icon>
    <app-svg-icon
      icon="grid-4"
      class="grid-size"
      width="24px"
      height="24px"
      (click)="setGridColumn(4)"
    ></app-svg-icon>
    <app-svg-icon
      icon="grid-5"
      class="grid-size"
      width="24px"
      height="24px"
      (click)="setGridColumn(5)"
    ></app-svg-icon>
    <button
      type="button"
      [class.active]="viewMode === 'grid-view'"
      (click)="viewMode = 'grid-view'"
    >
      Ô lưới
    </button>
    <button
      type="button"
      [class.active]="viewMode === 'map-view'"
      (click)="viewMode = 'map-view'"
    >
      Bản đồ
    </button>
    <button
      type="button"
      [class.active]="viewMode === 'list-view'"
      (click)="viewMode = 'list-view'"
    >
      Danh sách
    </button>
  </div>
</div>

<div
  [ngSwitch]="viewMode"
  class="view-wrapper content"
  [ngClass]="{ 'scroll-y': viewMode === 'grid-view' }"
>
  <app-grid-view
    *ngSwitchCase="'grid-view'"
    [cols]="gridColumn"
    [pageLength]="paginationInfo.pageLength"
    [events]="events"
    [(selectedEvents)]="selectedEvents"
  ></app-grid-view>
  <app-map-view
    *ngSwitchCase="'map-view'"
    [events]="events"
    [(selectedEvents)]="selectedEvents"
  ></app-map-view>
  <app-list-view-search
    *ngSwitchCase="'list-view'"
    [events]="events"
    [(selectedEvents)]="selectedEvents"
  ></app-list-view-search>
  <div *ngSwitchDefault>Unsupported view mode</div>
</div>

<form
  class="search-form d-flex flex-column"
  [formGroup]="form"
  (submit)="submit()"
>
  <div class="form-item">
    <label for="startTime" class="label">Thời gian bắt đầu</label>
    <input
      class="control w-100"
      id="startTime"
      type="datetime-local"
      formControlName="startTime"
      required
    />
  </div>
  <div class="form-item">
    <label for="endTime" class="label">Thời gian kết thúc</label>
    <input
      class="control w-100"
      id="endTime"
      type="datetime-local"
      formControlName="endTime"
      required
    />
  </div>
  <div class="form-item">
    <label>Đối đối tượng</label>
    <ul class="list-unstyle control" style="min-height: 80px">
      <li
        *ngFor="let item of selectedObjects; trackBy: trackById"
        class="d-flex align-items-center"
      >
        <app-svg-icon class="mx-1" [icon]="item.icon"></app-svg-icon>
        <div
          class="mx-1"
          style="width: 12px; height: 12px"
          [style.background]="item.colors[0]"
        ></div>
        <div
          class="mx-1"
          *ngIf="item.colors[1]"
          style="width: 12px; height: 12px"
          [style.background]="item.colors[1]"
        ></div>
      </li>
    </ul>
    <button type="button" class="active mt-1" (click)="addObject()">
      Thêm
    </button>
  </div>
  <div class="form-item">
    <label class="label">Quy tắc</label>
    <app-select-2
      [styles]="{
        'border-radius': 0
      }"
      [items]="ruleItems"
      formControlName="rule"
    ></app-select-2>
  </div>
  <div class="form-item">
    <label class="label">T.gian giữa 2 kết quả</label>
    <div class="d-flex">
      <app-numeric-input
        class="control"
        unit="min"
        formControlName="resolutionMinute"
        required
        [min]="0"
        [max]="59"
        [style]="{
          background: '#d0cece',
          padding: 0,
          flex: 1,
          marginRight: '1px',
        }"
      ></app-numeric-input>
      <app-numeric-input
        class="control"
        unit="sec"
        formControlName="resolutionSecond"
        required
        [min]="0"
        [max]="59"
        [style]="{
          background: '#d0cece',
          padding: 0,
          flex: 1,
          marginLeft: '1px',
        }"
      ></app-numeric-input>
    </div>
  </div>
  <div class="form-item">
    <label for="licensePlate" class="label">Biển số xe</label>
    <input
      type="text"
      id="licensePlate"
      autocomplete="off"
      class="control w-100"
      formControlName="licensePlate"
    />
  </div>
  <div class="form-item d-flex align-items-center">
    <label
      for="displayWithLicensePlateOnly"
      class="user-select-none cursor-pointer"
      >Chỉ h.thị xe có b.số</label
    >
    <label class="custom-checkbox ms-2 cursor-pointer">
      <input
        id="displayWithLicensePlateOnly"
        type="checkbox"
        formControlName="showVehileOnly"
      />
    </label>
  </div>
  <div class="form-item">
    <button type="reset">Reset</button>
  </div>
  <div class="form-item mt-auto">
    <button type="submit" class="active w-100" [disabled]="!canSubmit">
      Tìm kiếm
    </button>
  </div>
</form>

<app-pagination
  class="pagination-bar"
  [totalItems]="totalEvents"
  [(ngModel)]="paginationInfo"
  (ngModelChange)="search()"
></app-pagination>
