<div class="toolbar">
  <app-svg-icon
    icon="grid-2"
    class="grid-size"
    height="24px"
    width="24px"
    color="#FFFFFF"
  ></app-svg-icon>
  <app-svg-icon
    icon="grid-3"
    class="grid-size"
    width="24px"
    height="24px"
  ></app-svg-icon>
  <app-svg-icon
    icon="grid-4"
    class="grid-size"
    width="24px"
    height="24px"
  ></app-svg-icon>
  <app-svg-icon
    icon="grid-5"
    class="grid-size"
    width="24px"
    height="24px"
  ></app-svg-icon>
  <button type="button" class="active">Ô lưới</button>
  <button type="button">Bản đồ</button>
  <button type="button">Danh sách</button>
</div>

<div class="content">
  <div
    [ngSwitch]="viewMode"
    class="view-wrapper"
    [ngClass]="{ 'scroll-y': viewMode !== 'map-view' }"
  >
    <app-grid-view
      *ngSwitchCase="'grid-view'"
      [cols]="currentGridColumns"
      [events]="currentEvents"
    ></app-grid-view>
    <app-map-view
      *ngSwitchCase="'map-view'"
      [events]="currentEvents"
    ></app-map-view>
    <app-list-view
      *ngSwitchCase="'list-view'"
      [events]="currentEvents"
    ></app-list-view>
    <div *ngSwitchDefault>Unsupported view mode</div>
  </div>
</div>
<form class="search-form">
  <div class="form-item">
    <label for="startTime" class="label">Thời gian bắt đầu</label>
    <input class="control w-100" id="startTime" type="datetime-local" />
  </div>
  <div class="form-item">
    <label for="endTime" class="label">Thời gian kết thúc</label>
    <input class="control w-100" id="endTime" type="datetime-local" />
  </div>
  <div class="form-item">
    <label>Đối đối tượng</label>
    <div style="height: 50px" class="control"></div>
    <button class="active mt-1" (click)="addObject()">Thêm</button>
  </div>
  <div class="form-item">
    <label class="label">Quy tắc</label>
    <app-select-2
      [styles]="{
        'border-radius': 0
      }"
    ></app-select-2>
  </div>
  <div class="form-item">
    <label class="label">T.gian giữa 2 kết quả</label>
    <div class="d-flex">
      <app-numeric-input
        class="control"
        unit="min"
        [min]="0"
        [max]="59"
        [style]="{
          background: '#d0cece',
          padding: 0,
          flex: 1,
          marginRight: '1px',
        }"
      ></app-numeric-input>
      <app-numeric-input
        class="control"
        unit="sec"
        [min]="0"
        [max]="59"
        [style]="{
          background: '#d0cece',
          padding: 0,
          flex: 1,
          marginLeft: '1px',
        }"
      ></app-numeric-input>
    </div>
  </div>
  <div class="form-item">
    <label for="licencePlate" class="label">Biển số xe</label>
    <input
      type="text"
      id="licencePlate"
      autocomplete="off"
      class="control w-100"
    />
  </div>
  <div class="form-item d-flex align-items-center">
    <label for="displayWithLicensePlateOnly">Chỉ h.thị xe có b.số</label>
    <input
      id="displayWithLicensePlateOnly"
      type="checkbox"
      class="ms-2"
      style="width: 24px; height: 24px"
    />
  </div>
  <div class="form-item">
    <button type="reset">Reset</button>
  </div>
  <div class="form-item">
    <button class="active w-100">Tìm kiếm</button>
  </div>
</form>

<div class="bg-dark d-none">
  <!-- Menu bar -->
  <div
    class="d-flex justify-content-between align-items-center w-100 p-1 border-bottom"
  >
    <div class="d-flex">
      <app-select
        [items]="gridColumnSelectItems"
        label="Ô lưới"
        [formControl]="gridViewFormControl"
      ></app-select>
      <div>
        <button
          type="button"
          [ngClass]="
            viewMode === 'map-view' ? 'btn-primary' : 'btn-outline-primary'
          "
          class="btn btn-outline-primary text-white ms-1"
          (click)="setViewMode('map-view')"
        >
          Bản đồ
        </button>
      </div>
      <div>
        <button
          type="button"
          [ngClass]="
            viewMode === 'list-view' ? 'btn-primary' : 'btn-outline-primary'
          "
          class="btn text-white ms-1"
          (click)="setViewMode('list-view')"
        >
          Danh sách
        </button>
      </div>

      <div style="width: 2px" class="bg-white mx-2"></div>

      <app-select
        [items]="startTimeDropdownItems"
        label="Thời gian"
        [formControl]="startTimeFormControl"
      ></app-select>
      <app-select
        [items]="objectDropdownItems"
        label="Đối tượng"
        [multiple]="true"
        [formControl]="objectsFormControl"
        class="ms-1"
      ></app-select>
      <app-select
        [items]="colourDropdownItems"
        label="Màu sắc"
        [multiple]="true"
        [formControl]="coloursFormControl"
        [dropdownItemTemplate]="colourDropDownItemTemplate"
        class="ms-1"
      ></app-select>
      <ng-template
        #colourDropDownItemTemplate
        let-label="label"
        let-value="value"
      >
        <div class="d-flex align-items-center">
          <div
            class="border border-1 me-1"
            [ngStyle]="{'background': value, 'width': '15px', 'height': '15px',}"
          ></div>
          {{ label }}
        </div>
      </ng-template>
      <app-select
        [items]="rulesDropdownItems"
        label="Vi phạm"
        [multiple]="true"
        [formControl]="rulesFormControl"
        class="ms-1"
      ></app-select>
      <app-select
        [items]="severitiesDropdownItems"
        label="Mức độ"
        [multiple]="true"
        [formControl]="severitiesFormControl"
        class="ms-1"
      ></app-select>
    </div>

    <app-search-input></app-search-input>
  </div>
  <div
    class="d-flex align-items-center justify-content-between w-100 p-1 border-bottom"
  >
    <div class="d-flex">
      <app-select
        [items]="statusDropdownItems"
        [formControl]="statusFormControl"
        [dropdownToggleContentTemplate]="statusDropToggleContentTemplate"
        activeClass=""
        deactiveClass=""
      ></app-select>
      <ng-template #statusDropToggleContentTemplate>
        <i class="bi bi-square"></i>
      </ng-template>
      <div>
        <button type="button" class="btn text-white">
          <i class="bi bi-clock"></i>
        </button>
      </div>
      <div>
        <button type="button" class="btn text-white">
          <i class="bi bi-arrow-clockwise"></i>
        </button>
      </div>
    </div>

    <app-pagination
      [pageLength]="paginationInfo.pageLength"
      [totalItems]="paginationInfo.totalItems"
      [(ngModel)]="paginationInfo.currentPage"
    ></app-pagination>
  </div>
</div>
