.search-form {
    width: 138pt;
    height: 100%;    
    border-left: 1px solid white;
}

.search-form > .form-title {
    color: white;
    font-size: 8pt;
}

.search-form > .form-item {
    margin-top: 0.5rem;
}

.search-form > .form-item > .label {
    color: white;
    margin-left: 1rem;
}

.search-form > .form-item > .control {
    height: 23pt;
    outline: none;
}

.search-form > .form-item > .button {
    height: 17pt;
    color: white;
}