:host {
  margin-top: 2px;
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  grid-template:
    "toolbar toolbar"
    "content searchForm"
    "pagination pagination";
  grid-template-columns: 1fr 240px;
  grid-template-rows: 36px 1fr 36px;
}

* {
  font-size: 14px !important;
  color: #ffffff;
}

.view-wrapper {
  /* navbar: 51px, toolbar: 34px * 2, row-gap: 1px * 2 */
  height: calc(100vh - 51px - 72px - 8px) !important;
}

.scroll-y {
  overflow-y: scroll;
}

button {
  color: #ffffff;
  background: #7f7f7f;
  border: 1px solid #2f528f;
  border-radius: 5px;
}

button.active {
  background: #5285b6;
}

button:disabled {
  background: #7f7f7f;
}

.toolbar {
  grid-area: toolbar;
  background: #4a494b;
  display: flex;
  justify-content: flex-end;

  .grid-size {
    cursor: pointer;
    align-self: center;
    margin-right: 4px;
  }
  .grid-size.active {
    pointer-events: none;
    cursor: none;
  }

  button {
    width: 90px;
    align-self: center;
    margin-left: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  button:last-child {
    margin-right: 20px;
  }
  button.active {
    pointer-events: none;
    cursor: none;
  }
}

.content {
  grid-area: content;
  border: 1px solid #bfbfbf;
}

.search-form {
  grid-area: searchForm;
  display: flex;
  flex-direction: column;
  background: #4a494b;
  padding: 15px;
  border-bottom: 1px solid #bfbfbf;

  .form-item {
    .label {
      display: block;
    }

    .control {
      border-radius: 0;
      border: 1px solid white;
      padding: 2px;
      background: #7f7f7f;
    }

    .input-min::after {
      content: "min";
      display: block;
    }
  }

  .form-item:first-child {
    margin-top: 0px;
  }

  .form-item {
    margin-top: 10px;
  }

  .form-item:last-child {
    margin-top: 30px;
  }

  button {
    padding: 3px 20px;
  }
}

.pagination-bar {
  grid-area: pagination;
  background: #4a494bff;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button-group {
    button {
      border: 1px solid #5285b6;
      border-radius: 2px;
      margin-right: 1px;
      width: 40px;
    }
    button:last-child {
      margin-right: 0px;
    }
    button.active {
      background: #5285b6ff;
    }
  }
}
