<div
  class="bg-dark h-100 p-2"
  style="display: grid; grid-template-rows: auto auto minmax(500px, 1fr)"
>
  <div class="d-flex justify-content-between">
    <span class="text-white">Tự động ẩn</span>
    <div class="form-check form-switch">
      <input
        class="form-check-input bg-dark"
        type="checkbox"
        [(ngModel)]="autoHideEnabled"
      />
    </div>
  </div>
  <div class="border-bottom d-flex justify-content-around pb-1 mt-4">
    <a
      class="view-mode"
      [ngClass]="{ active: mode === 'by-group' }"
      (click)="setViewMode('by-group')"
      >Xem nhóm</a
    >
    <a
      class="view-mode"
      [ngClass]="{ active: mode === 'by-node' }"
      (click)="setViewMode('by-node')"
      >Xem node</a
    >
  </div>
  <div
    class="bg-dark text-light mt-2 camera-menu-container"
    *isLoading="isLoading"
  >
    <app-tree-view
      *ngIf="root"
      [data]="root"
      [itemTemplate]="menuItemTemplate"
      [config]="{
        backgroundColor: '#494949',
        activeBackgroundColor: '#a1a1a1',
        multiple: false
      }"
    ></app-tree-view>
    <ng-template #menuItemTemplate let-item="item" let-active="active">
      <i class="mx-1" [ngClass]="item.icon + (item.level >= 2  ? ' device-good':'')"></i
      ><span class="mx-1">{{ item.label }}</span>
    </ng-template>
  </div>
</div>
