<app-rule-menu
  class="menu-container"
  [buttonsTemplate]="buttonsTemplate"
></app-rule-menu>
<ng-template #buttonsTemplate>
  <button class="my-btn my-bg-primary me-2" (click)="onAddClicked()">
    + Thêm
  </button>
  <button class="my-btn my-bg-secondary" (click)="onDeleteClicked()">
    - Xóa
  </button>
</ng-template>
<app-post-action-options
  *ngIf="!!editingItem; else elseBlock"
  [type]="editingItem.postAction"
  [data]="postActionOptions"
  (exit)="exitSettingMode()"
  (save)="saveAndExitSettingMode($event)"
>
</app-post-action-options>
<ng-template #elseBlock>
  <table class="w-100">
    <colgroup>
      <col [width]="24" />
      <col width="auto" />
      <col [width]="240" />
      <col [width]="120" />
    </colgroup>
    <thead>
      <th><input type="checkbox" [indeterminate]="true" /></th>
      <th>Quy tắc kích hoạt</th>
      <th>Hành động sau</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableItemsSource">
        <td><input type="checkbox" [(ngModel)]="item.selected" /></td>
        <td>
          <ng-template #selectedRulesTemplate let-model="model">
            <div class="d-flex">
              <span *ngFor="let item of model">{{ item.label }};</span>
            </div>
          </ng-template>
          <app-select-2
            styles="border-radius: 5px"
            [contentTemplateRef]="selectedRulesTemplate"
            [items]="rules"
            [(ngModel)]="item.rule"
            [multiple]="true"
            placeHolder="Không"
          ></app-select-2>
        </td>
        <td>
          <select
            [(ngModel)]="item.postAction"
            (ngModelChange)="onPostActionChanged(item)"
          >
            <option
              *ngFor="
                let option of postActionItemsSource;
                trackBy: trackByValue
              "
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </td>
        <td>
          <button
            class="my-btn bg-primary"
            (click)="enterSettingMode(item)"
            [disabled]="!canEnterSettingMode(item)"
          >
            Cài đặt
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-5">
    <button
      class="my-btn bg-secondary mx-3"
      style="width: 80px"
      (click)="onCancelClicked()"
    >
      Hủy
    </button>
    <button
      class="my-btn bg-primary"
      style="width: 80px"
      (click)="onSaveClicked()"
    >
      Lưu
    </button>
  </div>
</ng-template>
