<form class="form" [formGroup]="formGroup" (submit)="onSaveClicked()">
  <div class="form-header d-flex align-items-center p-1">
    <i class="bi bi-chevron-left cursor-pointer me-1" (click)="exit.emit()"></i>
    <div>{{ title }}</div>
  </div>
  <div class="form-body p-5">
    <ng-container *ngIf="type === 'zoom_and_centralize'">
      <div class="form-item">
        <label style="width: 150px">Mức độ phóng to:</label>
        <app-select-3 formControlName="zoom_level">
          <app-select-3-option
            *ngFor="let item of zoomLevelItemsSource; trackBy: trackByValue"
            [value]="item.value"
            [label]="item.label"
          ></app-select-3-option>
        </app-select-3>
      </div>
      <div class="form-item">
        <label style="width: 200px">Thời gian dừng:</label>
        <input formControlName="working_time" min="1" max="10" type="number" />
        <span>(1 ~ 10s, default 2s)</span>
      </div>
    </ng-container>
    <ng-container *ngIf="type === 'auto_track'">
      <div class="form-item">
        <label style="width: 200px">Vùng kích hoạt theo dõi:</label>
        <div style="grid-column: 2 / span 2">
          <app-bounding-box-editor
            style="aspect-ratio: 16/9; height: 300px"
            type="polygon"
            formControlName="roi"
            [src]="boundingBoxEditorSrc"
          ></app-bounding-box-editor>
        </div>
      </div>
      <div class="form-item">
        <label style="width: 200px">Tốc độ PanTilt:</label>
        <input formControlName="pantilt_speed" min="1" max="5" type="number" />
        <span>(1 ~ 5, default 3)</span>
      </div>
      <div class="form-item">
        <label style="width: 200px">Tốc độ Zoom:</label>
        <input formControlName="zoom_speed" min="1" max="5" type="number" />
        <span>(1 ~ 5, default 3)</span>
      </div>
      <div class="form-item">
        <label style="width: 200px">Thời gian chờ:</label>
        <input formControlName="working_time" min="1" max="10" type="number" />
        <span>(1 ~ 10s, default 5s)</span>
      </div>
      <div class="form-item">
        <label style="width: 200px">Mức độ phóng lớn:</label>
        <app-select-3 formControlName="zoom_level">
          <app-select-3-option
            *ngFor="let item of zoomLevelItemsSource"
            [value]="item.value"
            [label]="item.label"
          ></app-select-3-option>
        </app-select-3>
      </div>
      <div class="form-item">
        <label style="width: 200px">Thời gian theo dõi:</label>
        <input formControlName="timeout" min="5" max="60" type="number" />
        <span>(5 ~ 60s, default 30s)</span>
      </div>
    </ng-container>
  </div>
  <div class="form-footer d-flex justify-content-center mt-5">
    <button class="my-btn bg-secondary mx-3" style="width: 80px" type="button">
      Hủy
    </button>
    <button
      type="submit"
      class="my-btn bg-primary"
      style="width: 100px"
      [disabled]="formGroup.invalid"
    >
      Lưu
    </button>
  </div>
</form>
