:host {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 0.2rem;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  float: none;
  margin-top: 52px;
}

.main-content {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  float: none;
  margin-top: 52px;
}
