.content-layout {
    display: grid;
    grid-template-columns: 138pt 1fr;
    grid-template-rows: 34pt 1fr;
    row-gap: 1px;
    column-gap: 1px;
    background-color: lightgray;
    height: 100vh;
    overflow: hidden;
}

.navbar-nav>.nav-item {
    border: 0;
    padding: 0;
    padding-right: 2rem;
}

.navbar-nav>.nav-item:last-child {
    padding-right: 0rem;
}

.navbar-nav>.nav-item>.active {
    border: 0;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}

.navbar-nav>.nav-item>div>.nav-link {
    color: white;
    font-size: 7pt;
}