:host {
  .event-info {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    background: #7f7f7fff;

    .object-icon {
      align-self: center;
    }

    .event-detail {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .event-controls {
      button {
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }

  .event-image {
    width: 100%;
    height: auto;
  }
}
