<ng-template #defaultContentTemplate>
  <span class="px-1 me-1" *ngFor="let item of currentItems">{{
    item.label
  }}</span>
</ng-template>
<div
  class="form-select form-select-sm bg-dark border-light w-100"
  (click)="menuVisible = true"
  [style]="styles"
>
  <ng-container
    *ngIf="contentTemplateRef; else defaultContentTemplate"
    [ngTemplateOutlet]="contentTemplateRef"
    [ngTemplateOutletContext]="{model}"
  ></ng-container>
  <span class="place-holder" *ngIf="currentItems.length === 0">{{
    placeHolder
  }}</span>
</div>
<div class="menu-wrapper" [ngClass]="{ 'd-none': !menuVisible }">
  <ul class="menu">
    <li
      *ngFor="let item of items; trackBy: trackByItems"
      class="menu-item"
      (click)="selectItem(item)"
      [ngClass]="{ active: item.selected }"
    >
      <ng-template #defaultMenuItemTemplate>
        {{ item.label }}
      </ng-template>
      <ng-container
        *ngIf="menuItemTemplateRef; else defaultMenuItemTemplate"
        [ngTemplateOutlet]="menuItemTemplateRef"
        [ngTemplateOutletContext]="{item}"
      ></ng-container>
    </li>
  </ul>
</div>
