.menu-wrapper {
  position: absolute;
  left: 0;
  top: 120%;
  background: whitesmoke;
  width: 100%;
  border: solid 1px #ffffff;
  background: #4a494b;
  color: white;
  z-index: 1000;
}

.menu {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;

  .menu-item {
    background: inherit;
    padding: 2px 4px;
  }

  .menu-item.active,
  .menu-item.active:hover {
    background: lightskyblue;
  }

  .menu-item:hover {
    background: rgb(209, 229, 241);
    font-weight: bold;
    color: black;
  }

  .menu-item.disabled {
    background: rgb(180, 192, 199);
    pointer-events: none;
  }
}

.place-holder {
  color: lightgrey;
}
