<ng-template #defaultContentTemplate>
  <span class="px-1 me-1" *ngFor="let item of currentItems">{{
    item.label
  }}</span>
</ng-template>
<div
  class="form-select form-select-sm bg-dark border-light w-100 position-relative"
  (click)="onDropdownOpen.emit(); menuVisible = true"
  [style]="styles"
>
  <ng-container
    *ngIf="contentTemplateRef; else defaultContentTemplate"
    [ngTemplateOutlet]="contentTemplateRef"
    [ngTemplateOutletContext]="{model}"
  ></ng-container>
  <span class="place-holder" *ngIf="currentItems.length === 0">{{
    placeHolder
  }}</span>

  <div class="menu-wrapper" [ngClass]="{ 'd-none': !menuVisible }">
    <ul class="menu">
      <li
        *ngFor="let item of items; trackBy: trackByItems"
        class="menu-item cursor-pointer"
        (click)="selectItem($event, item)"
        [ngClass]="{
          active: item.selected,
          disabled: disabledValues.includes(item.value)
        }"
      >
        <ng-template #defaultMenuItemTemplate>
          {{ item.label }}
        </ng-template>
        <ng-container
          *ngIf="menuItemTemplateRef; else defaultMenuItemTemplate"
          [ngTemplateOutlet]="menuItemTemplateRef"
          [ngTemplateOutletContext]="{item}"
        ></ng-container>
      </li>
    </ul>
  </div>
</div>
