.menu-wrapper {
  position: relative;
  width: 100%;
  background: whitesmoke;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;

  .menu-item {
    background: whitesmoke;
    color: black;
    padding: 2px 4px;
  }

  .menu-item.active {
    background: lightskyblue;
  }

  .menu-item:hover {
    background: lightskyblue;
  }
}

.place-holder {
  color: lightgrey;
}
