<app-form-dialog
  title="Đối tượng tìm kiếm"
  (cancel)="cancel()"
  (submit)="submit()"
>
  <div class="row">
    <div class="col-6">
      <div style="border: 1px solid #d8d8d8">
        <app-list-view
          [itemTemplate]="listItemTemplate"
          [items]="objectItemModels"
          backgroundColor="#1c1c19ff"
          textColor="white"
          activeBackgroundColor="#5285b6ff"
          (itemClick)="onObjectSelected($event)"
          [multiple]="false"
        ></app-list-view>
      </div>
    </div>
    <ng-template #listItemTemplate let-item="item">
      <div class="d-flex align-items-center">
        <input
          type="checkbox"
          class="mx-1"
          [(ngModel)]="item.isSelected"
          (ngModelChange)="onSelectionChange($event)"
        />
        <label class="w-100 cursor-pointer" style="color: white">
          <app-svg-icon
            [icon]="item.icon"
            color="white"
            class="mx-1 cursor-pointer"
          ></app-svg-icon
          >{{ item.text }}</label
        >
      </div>
    </ng-template>
    <div
      *ngIf="this.selectedItem"
      class="col-6"
      style="
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        row-gap: 1rem;
      "
    >
      <ng-container
        *ngIf="!showHumanColorSelection; else humanColorSelectionTemplate"
      >
        <span>Màu</span>
        <div>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2px;
              column-gap: 2px;
            "
          >
            <div
              *ngFor="let item of colors"
              [style.background]="item"
              [class.active]="item == this.selectedItem.colors[0]"
              (click)="
                this.selectedItem.colors[0] = item;
                this.selectedItem.isSelected = true
              "
              class="cursor-pointer"
              style="width: 24px; height: 24px"
            ></div>
          </div>
        </div>
      </ng-container>
      <ng-template #humanColorSelectionTemplate>
        <span>Màu thân trên</span>
        <div>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2px;
              column-gap: 2px;
            "
          >
            <div
              *ngFor="let item of colors"
              [style.background]="item"
              [class.active]="item == this.selectedItem.colors[0]"
              (click)="
                this.selectedItem.colors[0] = item;
                this.selectedItem.isSelected = true
              "
              class="cursor-pointer"
              style="width: 24px; height: 24px"
            ></div>
          </div>
        </div>
        <span>Màu thân dưới</span>
        <div>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2px;
              column-gap: 2px;
            "
          >
            <div
              *ngFor="let item of colors"
              [style.background]="item"
              [class.active]="item == this.selectedItem.colors[1]"
              (click)="
                this.selectedItem.colors[1] = item;
                this.selectedItem.isSelected = true
              "
              class="cursor-pointer"
              style="width: 24px; height: 24px"
            ></div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</app-form-dialog>
