<app-form-dialog
  title="Đối tượng tìm kiếm"
  (cancel)="cancel()"
  (submit)="submit()"
  submitTitle="Thêm"
  backgroundColor="#3d3b3eff"
>
  <div class="row">
    <div class="col-6">
      <div>
        <div class="d-flex flex-column">
          <div
            *ngFor="let item of objectItemModels"
            class="d-flex align-items-center p-1"
            (click)="onObjectSelected(item)"
            [style.background]="
              selectedItem?.id == item.id ? '#5285b6ff' : '#5e5c5eff'
            "
          >
            <label
              class="custom-checkbox rounded-1 mx-1"
              style="width: 14px; height: 14px"
            >
              <input
                type="checkbox"
                [(ngModel)]="item.isSelected"
                (click)="$event.stopPropagation()"
                (ngModelChange)="onSelectionChange(item.isSelected ?? false)"
              />
            </label>
            <label
              class="flex-grow-1 cursor-pointer user-select-none"
              style="color: white"
            >
              <app-svg-icon
                [icon]="item.icon"
                color="white"
                class="mx-2 cursor-pointer"
              ></app-svg-icon
              >{{ item.text }}</label
            >
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="this.selectedItem"
      class="col-6"
      style="
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        row-gap: 1rem;
      "
    >
      <ng-container
        *ngIf="!showHumanColorSelection; else humanColorSelectionTemplate"
      >
        <span>Màu</span>
        <div>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2px;
              column-gap: 2px;
            "
          >
            <div
              *ngFor="let item of colors"
              [style.background]="item"
              [class.active]="item == this.selectedItem.colors[0]"
              (click)="
                this.selectedItem.colors[0] = item;
                this.selectedItem.isSelected = true
              "
              class="cursor-pointer"
              style="width: 24px; height: 24px"
            ></div>
          </div>
        </div>
      </ng-container>
      <ng-template #humanColorSelectionTemplate>
        <span>Màu thân trên</span>
        <div>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2px;
              column-gap: 2px;
            "
          >
            <div
              *ngFor="let item of colors"
              [style.background]="item"
              [class.active]="item == this.selectedItem.colors[0]"
              (click)="
                this.selectedItem.colors[0] = item;
                this.selectedItem.isSelected = true
              "
              class="cursor-pointer"
              style="width: 24px; height: 24px"
            ></div>
          </div>
        </div>
        <span>Màu thân dưới</span>
        <div>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              row-gap: 2px;
              column-gap: 2px;
            "
          >
            <div
              *ngFor="let item of colors"
              [style.background]="item"
              [class.active]="item == this.selectedItem.colors[1]"
              (click)="
                this.selectedItem.colors[1] = item;
                this.selectedItem.isSelected = true
              "
              class="cursor-pointer"
              style="width: 24px; height: 24px"
            ></div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</app-form-dialog>
