<div class="bg-dark w-100">
    <div class="toolbar d-flex justify-content-between align-items-center px-2">
        <div>
            <select class="bg-primary text-white p-1"
                style="height: 16pt; width: 57pt; outline: none; border-radius: 10%;">
                <option selected>Today</option>
            </select>
            <i class="bi bi-funnel-fill text-white ms-2"></i>
        </div>
        <div>
            <app-search-input class="w-100"></app-search-input>
        </div>
        <div class="me-5">
            <button class="view-mode-btn btn mx-1" [ngClass]="{ 'btn-primary': viewMode==='grid-view', 'btn-secondary': viewMode!=='grid-view' }"
                (click)="viewMode='grid-view'">Ô lưới</button>
            <button class="view-mode-btn btn mx-1" [ngClass]="{ 'btn-primary': viewMode==='map-view', 'btn-secondary': viewMode!=='map-view' }"
                (click)="viewMode='map-view'">Bản đồ</button>
            <button class="view-mode-btn btn mx-1" [ngClass]="{ 'btn-primary': viewMode==='list-view', 'btn-secondary': viewMode!=='list-view' }"
                (click)="viewMode='list-view'">Danh sách</button>
        </div>
    </div>
    <div [ngSwitch]="viewMode" class="view-wrapper" [ngClass]="{'scroll-y': viewMode==='grid-view'}">
        <app-grid-view *ngSwitchCase="'grid-view'"></app-grid-view>
        <app-map-view *ngSwitchCase="'map-view'"></app-map-view>
        <app-list-view *ngSwitchCase="'list-view'"></app-list-view>
        <div *ngSwitchDefault>Unsupported view mode</div>
    </div>
</div>