<div class="header">
  <span class="title">{{ title }}</span>
  <button class="close-button" (click)="close()">
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<div class="event-image" *ngIf="type === 'image'">
  <app-event-image
    [event]="event"
    [index]="index"
    [showObject]="true"
  ></app-event-image>
</div>
<div class="event-image" *ngIf="type === 'location'">
  <app-static-map [locationData]="locationData"></app-static-map>
</div>
<div class="event-info">
  <div class="fw-bold">Chi tiết đối tượng</div>
  <div class="mt-1">Camera: {{ event.device_name }}</div>
  <div>Điểm giám sát: {{ (preset$ | async)?.name ?? "" }}</div>
  <div>
    Thời gian:
    {{ image?.detection_time | datetime : " DD/MM/YYYY HH:mm" }}
  </div>
  <div>ID đối tượng: {{ image?.detection_id }}</div>
  <div>Loại: {{ image?.event_type | translate }}</div>
  <div>Màu sắc: {{ image?.recognize_result?.color | translate }}</div>
  <div>Biển số: {{ image?.recognize_result?.lisence_plate }}</div>
</div>
<div class="progress-bar" *ngIf="type === 'image'">
  <div class="progress" [style.width]="percentage"></div>
</div>
<div class="toolbar" *ngIf="type === 'image'">
  <button class="border-0">
    <app-svg-icon
      width="1.5em"
      height="1.5em"
      rotate="180"
      icon="next"
    ></app-svg-icon>
  </button>
  <button class="border-0">
    <app-svg-icon width="1.5em" height="1.5em" icon="next"></app-svg-icon>
  </button>
  <button (click)="first()" class="border-0">
    <app-svg-icon width="1.5em" height="1.5em" icon="rewind"></app-svg-icon>
  </button>
  <button (click)="previous()" class="border-0">
    <app-svg-icon width="1.5em" height="1.5em" icon="previous"></app-svg-icon>
  </button>
  <span>{{ image?.detection_time | datetime : "HH:mm:ss" }}</span>
  <button (click)="next()" class="border-0">
    <app-svg-icon
      width="1.5em"
      height="1.5em"
      [rotate]="180"
      icon="previous"
    ></app-svg-icon>
  </button>
  <button (click)="last()" class="border-0">
    <app-svg-icon
      width="1.5em"
      height="1.5em"
      icon="fast-forward"
    ></app-svg-icon>
  </button>
</div>
<div class="footer" *ngIf="type === 'image'">
  <button
    #rejectButton
    class="reject"
    type="button"
    (click)="verify(rejectButton, false)"
  >
    Công nhận giả
  </button>
  <button
    #acceptButton
    class="accept"
    type="button"
    (click)="verify(acceptButton, true)"
  >
    Công nhận thật
  </button>
</div>
<div class="footer" *ngIf="type === 'location'">
  <button class="accept" style="width: 100px" type="button" (click)="close()">
    Đóng
  </button>
</div>
