<div class="event-image">
  <img [src]="selectedEvent?.imgUrl" />
</div>
<div class="event-detail">
  <div class="event-prop">
    <label class="prop-label">Đối tượng:</label>
    <app-svg-icon
      [icon]="selectedEvent?.object"
      *ngIf="selectedEvent"
    ></app-svg-icon>
  </div>
  <div class="event-prop">
    <label class="prop-label">Biển số:</label>
    <p>{{ selectedEvent?.licencePlate }}</p>
  </div>
  <div class="event-prop">
    <label class="prop-label">NSX, Model, Màu:</label>
    <p>
      {{ selectedEvent?.manufacturer }} {{ selectedEvent?.model }}
      {{ selectedEvent?.color }}
    </p>
  </div>
  <div class="event-prop">
    <label class="prop-label">Nội dung:</label>
    <p>{{ selectedEvent?.ruleType }}</p>
  </div>
  <div class="event-prop">
    <label class="prop-label">Thời gian:</label>
    <p>{{ selectedEvent?.datetime }}</p>
  </div>
  <div class="event-prop">
    <label class="prop-label">Địa điểm:</label>
    <p>{{ selectedEvent?.address }}</p>
  </div>
</div>
<div class="event-list">
  <table>
    <thead>
      <th></th>
      <th>Hình ảnh</th>
      <th>Biển số</th>
      <th>Loại xe</th>
      <th>NSX, Model, Màu xe</th>
      <th>Nội dung</th>
      <th>Địa điểm</th>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of events"
        (click)="selectedEvent = item"
        [class.active]="selectedEvent?.id === item.id"
      >
        <td><input type="checkbox" [(ngModel)]="item.seen" /></td>
        <td><img [src]="item.imgUrl" class="cropped-image" /></td>
        <td>{{ item.licencePlate }}</td>
        <td><app-svg-icon [icon]="item.object"></app-svg-icon></td>
        <td>
          {{ item.manufacturer }} {{ item.model }}
          {{ item.color }}
        </td>
        <td>{{ item.ruleType }}</td>
        <td>{{ item.address }}</td>
      </tr>
    </tbody>
  </table>
</div>
