<div class="top">
  <div class="event-image" (click)="showEventDetail()">
    <app-event-image [event]="currentEvent"></app-event-image>
  </div>
  <div class="event-detail">
    <div class="event-prop">
      <label class="prop-label">Đối tượng:</label>
      <ng-container [ngSwitch]="currentEvent?.images_info[0].event_type">
        <app-svg-icon icon="side-car" *ngSwitchCase="'car'"></app-svg-icon>
      </ng-container>
    </div>
    <div class="event-prop">
      <label class="prop-label">Biển số:</label>
      <p>{{ currentEvent?.images_info[0].recognize_result.lisence_plate }}</p>
    </div>
    <div class="event-prop">
      <label class="prop-label">NSX, Model, Màu:</label>
      <p>
        {{ currentEvent?.images_info[0].recognize_result.model }}
        {{ currentEvent?.images_info[0].recognize_result.color }}
      </p>
    </div>
    <div class="event-prop">
      <label class="prop-label">Nội dung:</label>
      <p>{{ currentEvent?.alarm_type }}</p>
    </div>
    <div class="event-prop">
      <label class="prop-label">Thời gian:</label>
      <p>{{ currentEvent?.images_info[0].detection_time }}</p>
    </div>
    <div class="event-prop">
      <label class="prop-label">Địa điểm:</label>
      <p>
        {{ address }}
      </p>
    </div>
  </div>
</div>
<div class="bottom event-list">
  <table>
    <colgroup>
      <col width="32" />
    </colgroup>
    <thead>
      <th></th>
      <th>Hình ảnh</th>
      <th>Biển số</th>
      <th>Loại xe</th>
      <th>NSX, Model, Màu xe</th>
      <th>Nội dung</th>
      <th>Địa điểm</th>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of events"
        (click)="currentEvent = item"
        [class.active]="currentEvent?.event_id === item.event_id"
        class="event-container"
      >
        <td>
          <div class="checkbox-container">
            <label class="custom-checkbox" (click)="$event.stopPropagation()"
              ><input
                type="checkbox"
                [(ngModel)]="item.checked"
                (ngModelChange)="onEventSelectionChange()"
            /></label>
          </div>
        </td>
        <td>
          <app-event-image
            class="crop-image"
            [event]="item"
            type="crop"
          ></app-event-image>
        </td>
        <td>{{ item.images_info[0].recognize_result.lisence_plate }}</td>
        <td>
          {{ item.images_info[0].event_type }}
        </td>
        <td>
          {{ item.images_info[0].recognize_result.model }}
          {{ item.images_info[0].recognize_result.color }}
        </td>
        <td>{{ item.alarm_type }}</td>
        <td>
          {{
            currentEvent?.device_location.lat +
              "," +
              currentEvent?.device_location.long
          }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
