:host {
  background: #28282aff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  display: flex;
  flex: 0.75;

  .event-image {
    flex: 1;
    display: block;
  }

  .event-detail {
    flex: 1;
    padding: 1.5rem;

    .event-prop {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      .prop-label {
        width: 150px;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
.bottom {
  flex: 1.25;
}
.event-list {
  overflow: auto;
  border-top: 1px solid #d8d8d8;
  padding: 0px 10px;

  table {
    width: 100%;

    thead {
      position: sticky;
    }

    thead,
    tr {
      border-bottom: 1px solid #d8d8d8;
    }

    tr.active {
      background: #7f7f7fff;
    }

    th,
    td {
      margin: 0;
      padding: 2px;
    }

    td,
    td > * {
      color: #ededed;
    }

    .crop-image {
      width: 50px;
      height: 50px;
    }
  }
}

.event-container:hover {
  .checkbox-container {
    display: block;
  }
}

.checkbox-container {
  display: none;
}

.checkbox-container:has(input[type="checkbox"]:checked) {
  display: block;
}
