<div
  class="tree-view-item"
  [ngStyle]="{
    background: isSelected
      ? config.activeBackgroundColor
      : config.backgroundColor
  }"
  *ngIf="item?.isVisible"
>
  <a
    (click)="$event.stopPropagation(); click.emit(item)"
    style="user-select: none"
  >
    <i
      class="bi cursor-pointer"
      [ngClass]="item?.isExpanded ? 'bi-chevron-down' : 'bi-chevron-right'"
      *ngIf="item?.hasChild"
      (click)="toggleExpand($event)"
    ></i>
    <ng-container
      *ngIf="itemTemplate; else defaultTemplate"
      [ngTemplateOutlet]="itemTemplate"
      [ngTemplateOutletContext]="{item, active: isSelected }"
    ></ng-container>
    <ng-template #defaultTemplate>
      <span [ngStyle]="{
        color: isSelected ? config.activeTextColor : config.textColor
      }" style="user-select: none;">{{ item?.label }}</span>
    </ng-template>
  </a>  
</div>

<app-tree-view-item-dropdown
  [selectedItems]="selectedItems"
  [ngClass]="{ 'd-none': !item.isExpanded }"
  [items]="item.children"
  *ngIf="item && item?.hasChild && item?.isVisible"
  (itemClick)="click.emit($event)"
  [itemTemplate]="itemTemplate"
  [config]="config"
>
</app-tree-view-item-dropdown>
