$primary: #5285b6;
$dark: #49494b;
$white: #d2d1d2;
$body-bg: rgb(41, 40, 42);

$nav-link-padding-y: 0 !default;
$navbar-padding-y: 0.1rem !default;
$btn-padding-x: 0.2rem !default;
$btn-padding-y: 0.1rem !default;
$btn-padding-y-sm: $btn-padding-x !default;
$btn-padding-x-sm: $btn-padding-y !default;
