$primary: #5285b6;
$dark: #49494b;
$white: #d2d1d2;
$body-bg: rgb(41, 40, 42);

$nav-link-padding-y: 0 !default;
$navbar-padding-y: 0.1rem !default;
$btn-padding-x: 0.2rem !default;
$btn-padding-y: 0.1rem !default;
$btn-padding-y-sm: $btn-padding-x !default;
$btn-padding-x-sm: $btn-padding-y !default;

// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// $border-width-double: 0.125rem !default;
// $p-1-y-double: 0.5rem;
// $btn-height: $btn-line-height + $btn-padding-y + $btn-padding-y;
// $filter-bar-height: $btn-height + $border-width-double + $p-1-y-double;
