/* You can add global styles to this file, and also import other style files */
@import "./variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "~leaflet/dist/leaflet.css";

:root {
  --my-black: #000000;
  --my-white: #ffffff;
  --my-bg-default: #4a494bff;
  --my-bg-primary: #5285b6ff;
  --my-border-primary: #31538f;
  --my-bg-secondary: #7f7f7fff;
}

.my-bg-primary-hover:hover {
  background: var(--my-bg-primary);
}

.my-bg-black {
  background: var(--my-black);
}

.my-text-white {
  color: var(--my-white);
}

.my-bg-default {
  background: var(--my-bg-default);
}

.my-bg-primary {
  background: var(--my-bg-primary);
}

.my-bg-secondary {
  background: var(--my-bg-secondary);
}

.my-btn-primary {
  background: var(--my-bg-primary);
  border: 1px solid var(--my-border-primary);
  color: var(--my-white);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.my-btn {
  border: 1px solid var(--my-border-primary);
  color: var(--my-white);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.my-btn:disabled {
  background: var(--my-bg-secondary);
}

* {
  font-family: "Roboto Arial";
  font-weight: normal;
  font-size: 14px;
}

.w-18 {
  width: 18%;
}

.person-walking-32 {
  background-image: url("assets/icons/icons8-person-walking-32.png");
  background-size: cover;
  width: 32px;
  height: 32px;
}

.icons8-dome-camera-32 {
  background-image: url("assets/icons/icons8-dome-camera-32.png");
  background-size: cover;
  width: 32px;
  height: 32px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(224, 214, 214);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cececece;
}

.cursor-pointer {
  cursor: pointer;
}

@for $size from 14 through 20 {
  .fs-#{$size} {
    font-size: #{$size}px !important;
  }
}

.inline-input {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bs-primary);
  outline: none;
}

.inline-input:focus {
  outline: none;
}

.inline-input:disabled {
  border: none;
  color: white;
}

.node-good {
  color: #94d82d;
}

.node-disconnected {
  color: #fa5252;
}

.device-good {
  color: #94d82d;
}

.device-disconnected {
  color: #fa5252;
}

.device-failure {
  color: #fcc419;
}

.menu-container {
  background-color: #49494b;
  height: 36px;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: start;

  .menu-item {
    cursor: pointer;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 0.5rem;
      margin-left: 0.5rem;

      i {
        margin-right: 0.25em;
      }

      user-select: none;

      a,
      i {
        color: white;
      }
    }

    li:hover {
      cursor: pointer;
    }

    li.active {
      border-bottom: 2px solid #517da8;
      pointer-events: none;
    }
  }
}

.custom-checkbox {
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-color: #4a494bff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  input {
    opacity: 0;
  }
}

.custom-checkbox:has(input:checked)::after {
  display: block;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
  left: 30%;
  top: 10%;
  width: 40%;
  height: 60%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button {
  user-select: none;
}

.flex-basis-0 {
  flex-basis: 0;
}
