<div
  class="flex-grow-1"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
></div>
<div class="overflow-y-auto">
  <div class="d-flex flex-column" style="width: 300px">
    <app-map-event-info
      *ngFor="let item of events"
      [event]="item"
    ></app-map-event-info>
    <div *ngFor="let item of [].constructor(maxLength - events.length)" class="d-flex flex-column" style="border: 1px solid whitesmoke;">
      <div style="height: 71px;"></div>
      <div style="aspect-ratio: 16/9;"></div>
    </div>
  </div>
</div>
